
@{
    ViewData["Title"] = "_Add";
    Layout = null;
}
@using System.Data
@using UnionMall.Business.ChainStore
@using UnionMall.Core;
@model ChainStore


<div class="modal inmodal fade in" id="CreateModal"  role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h5 id="headTitle" class="modal-title">@(Model.Id <= 0 ? L("Add") : Model.Name)</h5>
            </div>
            <div class="modal-body">
                <form method="post" id="formPost">
                    <input type="hidden" name="Id" value="@Model.Id" />
                    <input type="hidden" name="TenantId" value="@Model.TenantId" />
                    <input type="hidden" name="Longitude" value="@(Model.Longitude??"0")" />
                    <input type="hidden" name="Latitude" value="@(Model.Latitude??"0")" />

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>@L("Store")@L("Name")</label>
                                <input type="text" name="Name" value="@Model.Name" class="form-control" required maxlength="50" />
                            </div>
                            <div class="form-group">
                                <label>@L("Belong")@L("Business")</label>
                                @Html.DropDownListFor(c => c.BusinessId, (SelectList)ViewData["Business"], L("Choose"), new { @class = "form-control chosen-select" })
                            </div>
                            <div class="form-group">
                                <label>@L("Contact")</label>
                                <input type="text" name="Contact" value="@Model.Contact" class="form-control" required maxlength="15">
                            </div>

                            <div class="form-group">
                                <label style="display: block;">@L("Address")</label>
                                @Html.GetAddress(c => c.ProvinceId, c => c.CityId, c => c.DistrictId, new { })
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>@L("Sort")</label><span class="help-block m-b-none" style="display:inline;">&nbsp;&nbsp;(@L("SortTip"))</span>
                                <input type="number" name="Sort" value="@Model.Sort" class="form-control" required>
                            </div>

                            <div class="form-group">
                                <label>@L("Image")</label>
                                <input type="hidden" id="hiddenImg" name="Image" value="@Model.Image" />

                                <input id="input" title="@Model.Image" name="File" value="@Model.Image" type="file" class="file" data-show-preview="false">
                            </div>

                            <div class="form-group">
                                <label>@L("PhoneNumber")</label>
                                <input type="text" name="Mobile" value="@Model.Mobile" class="form-control" required />
                            </div>
                            <div class="form-group">
                                <label>&nbsp;</label>
                                <input type="text" name="Address" placeholder="@L("AddressPlace")" value="@Model.Address" class="form-control" maxlength="200" />

                            </div>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>@L("Introduce")</label>
                                <textarea style="width:100%;min-width:550px;" id="Introduce" name="Introduce" class="form-control" cols="5">@Model.Introduce</textarea>

                            </div>
                        </div>
                    </div>


                    <div class="modal-footer">
                        <button type="button" class="btn btn-white" data-dismiss="modal">@L("Cancel")</button>
                        <button id="Save" type="submit" class="btn btn-primary">@L("Save")</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    $('.chosen-select').chosen({ width: "100%" });
</script>
<script src="~/view-resources/Areas/Business/store_list.js"></script>
<script>
    if ('@Model.ProvinceId' != '0' && '@Model.CityId' != '0' && '@Model.DistrictId' != '0') {
        $("select[name='ProvinceID']").val('@Model.ProvinceId');
        ProChange($("select[name='ProvinceID']"));
        $("select[name='CityID']").val('@Model.CityId');
        CityChange($("select[name='CityID']"));
        $("select[name='DistrictID']").val('@Model.DistrictId');
    }
    $("#CreateModal").on('shown.bs.modal', function () {

        $(".file-caption-name").val($("#hiddenImg").val());
    });
    var language = $("#CurrentLanguage").attr("data-lan") == 'zh-Hans' ? 'zh-CN' : 'en';
        var editor
    KindEditor.ready(function (K) {

            editor = K.create('#Introduce',
                {
                    langType: language,
                    height: '300px',
                    uploadJson: "/Common/EditorUpload",
                    fileManagerJson: '/Common/Upload',
                    allowFileManager: false,
                    formatUploadUrl: false,
                    items: [
                        'justifyleft', 'justifycenter', 'justifyright',
                        'justifyfull', '|', 'fontname', 'fontsize', 'forecolor', 'hilitecolor', 'bold',
                        'italic', 'underline', '|', 'image', 'media', 'table', 'hr', 'emoticons', 'baidumap', 'link', '|',
                        'quickformat','preview', 'fullscreen'
                    ],
                    afterBlur: function () { this.sync(); },
                    afterUpload: function (url) {
                        debugger;
                        alert(url);
                    },
                    afterError: function (data) {
                        debugger;
                    }
                });
        });
    $("#CreateModal").on('hidden.bs.modal', function () {
        editor.remove('#Introduce');
    });

    // alert(language);
    $("#input").fileinput({
        language: $("#CurrentLanguage").attr("data-lan") == 'zh-Hans' ? 'zh' : 'es',
        showRemove: false,
        showUpload: false,
        allowedFileExtensions: ['jpg', 'png', 'jpeg'],//接收的文件后缀
        showUploadedThumbs: false,
        uploadUrl: "/Common/Upload",
        showClose: false,
        showCancel: false,
        slugCallback: function (filename) {
            return filename.replace('(', '_').replace(']', '_');
        }
    });
    //选择文件后处理事件
    $("#input").on("filebatchselected", function (event, files) {
        //执行文件上传方法
        $("#input").fileinput("upload");
    });
    //上传成功后处理方法
    $("#input").on("fileuploaded", function (event, data, previewId, index) {
        var url = data.response.result.url;
        $("input[name='Image']").val(url);
        //$(".hid" + index).val(url).addClass(previewId);
    });
</script>
