
@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewBag.FirstMenu = "BusinessManage";
    ViewBag.SecondMenu = "ChainStore";
}
@using System.Data
@using X.PagedList
@using UnionMall.Business.ChainStore
@model PagedList<DataRow>
<link href="~/lib/admin/css/plugins/chosen/bootstrap-chosen.css" rel="stylesheet" asp-append-version="true" />
<link href="~/lib/kindeditor/themes/default/default.css" rel="stylesheet" asp-append-version="true" />
<script src="~/lib/kindeditor/kindeditor-all-min.js" asp-append-version="true"></script>
<script src="~/lib/admin/js/plugins/chosen/chosen.jquery.js" asp-append-version="true"></script>
<link href="~/lib/fileinput/css/fileinput.min.css" rel="stylesheet" asp-append-version="true" />
<script src="~/lib/fileinput/js/fileinput.js" asp-append-version="true"></script>
<script src="~/lib/fileinput/js/locales/zh.js" asp-append-version="true"></script>
<style>
    #formPost .chosen-single {
        height: 34px !important;
        font-size: 14px;
    }
    #pic {
        position: fixed;
        display: none;
        z-index: 10;
    }

    #searchForm .chosen-single {
        font-size: 14px;
        line-height: 20px !important;
    }
</style>
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2></h2>
        <ol class="breadcrumb">
            <li>
                <a href="/">@L("BusinessManage")</a>
            </li>
            <li class="active">
                <strong>@L("ChainStore")</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>@L("ChainStore") </h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li>
                                <a data-ajax="true" data-ajax-form="searchForm"
                                   data-ajax-loading="loading" data-ajax-loading-duration="2"
                                   data-ajax-method="GET" data-ajax-mode="Replace" data-ajax-update="#table"
                                   href="/business/chainstore/list?page=1&pageSize=10">10</a>
                            </li>
                            <li>
                                <a data-ajax="true" data-ajax-form="searchForm"
                                   data-ajax-loading="loading" data-ajax-loading-duration="2"
                                   data-ajax-method="GET" data-ajax-mode="Replace" data-ajax-update="#table"
                                   href="/business/chainstore/list?page=1&pageSize=15">15</a>
                            </li>
                            <li>
                                <a data-ajax="true" data-ajax-form="searchForm"
                                   data-ajax-loading="loading" data-ajax-loading-duration="2"
                                   data-ajax-method="GET" data-ajax-mode="Replace" data-ajax-update="#table"
                                   href="/business/chainstore/list?page=1&pageSize=20">20</a>
                            </li>
                        </ul>
                        <a class="close-link">

                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-sm-1 m-b" style="width:auto;">
                            <button id="add" class="btn btn-primary btn-sm " type="button"><i class="fa fa-plus"></i>&nbsp;@L("Add")</button>
                        </div>
                        <form class="form-inline m-b" id="searchForm" data-ajax="true" data-ajax-update="#table" action="/business/chainstore/List" method="post">
                            <div class="col-sm-2">
                                @Html.DropDownList("BusinessId", (SelectList)ViewData["Business"], L("Choose"), new { @class = "input-sm form-control  chosen-select" })
                            </div>
                            <div class="col-sm-2">

                                <div class="input-group">
                                    <input type="text" name="storeName" placeholder="@L("Store")@L("Name")" class="input-sm form-control"> <span class="input-group-btn">
                                        <button type="submit" class="btn btn-sm btn-primary">@L("Search")</button>
                                    </span>
                                </div>

                            </div>
                        </form>
                    </div>

                    <div id="table">
                        @Html.Partial("_Table", Model)
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="DivAdd">
        @Html.Partial("_Add", new ChainStore())
    </div>
</div>
<script src="~/lib/jquery-validation/dist/jquery.validate.js" asp-append-version="true"></script>
<script src="~/lib/pager/jquery.unobtrusive-ajax.js" asp-append-version="true"></script>
<script src="~/lib/admin/js/plugins/sweetalert/sweetalert.min.js" asp-append-version="true"></script>

<script>

    function EditShow(data) {
        $("#CreateModal").modal("show");
    }
    function ProChange(Pro) {

        $.ajaxSettings.async = false;
        $.post("/business/chainStore/GetAddressSlect", { id: $(Pro).val(), type: 0 }, function (data) {
            if (data.result.succ) {

                $("#city").html(""); $("#city").html(data.result.str);
                CityChange($("#city"));
            }
        });
    }
    function CityChange(City) {

        $.ajaxSettings.async = false;
        $.post("/business/chainStore/GetAddressSlect", { id: $(City).val(), type: 1 }, function (data) {
            if (data.result.succ) {
                $("#dis").html(""); $("#dis").html(data.result.str);
            }
        });
    }




</script>