
@{
    ViewData["Title"] = "_Table";
    Layout = null;
}
@using X.PagedList
@using System.Data
@using X.PagedList.Mvc.Core
@model PagedList<DataRow>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>@L("LogIn")@L("Name")</th>
            <th>@L("UserName")</th>
            <th>@L("Roles")@L("Name")</th>
            <th>@L("Belong")@L("Store")</th>
            <th>@L("PhoneNumber")</th>
            <th>@L("Status")</th>
            <th>@L("Email")</th>
            <th>@L("Operate")</th>
        </tr>
    </thead>
    <tbody>
        @foreach (DataRow item in Model)
        {
        <tr>
            <td class="title">@item["UserName"]</td>
            <td class="title">@item["Name"]</td>
            <td>@item["RoleName"]</td>
            <td class="title">@item["StoreName"]</td>
            <td>@item["PhoneNumber"]</td>
            <td>@(Convert.ToBoolean(item["IsActive"]) ? L("Normal") : L("Disable"))</td>
            <td>@item["EmailAddress"]</td>
            <td>
                @if (IsGranted("SystemSet.UserManager.Edit"))
                {
                    <a class="edit-user" title="@L("Edit")" data-id="@item["Id"]"><i class="fa fa-edit text-navy"></i></a>
                }

                @if (IsGranted("SystemSet.UserManager.Delete"))
                {
                    if (item["UserName"].ToString().ToUpper() != "ADMIN")
                    {
                        <a style="margin-left:20px;" data-title="@L("DeleteConfirm{0}",item["UserName"])" data-ok="@L("OK")"
                           data-cancle="@L("Cancel")" data-id="@item["id"]" onclick="Delete(this);" title="@L("Delete")" href="javascript:void(0);">
                            <i class="fa fa-trash text-navy"></i>
                        </a>
                    }
                }


            </td>
        </tr>
        }

    </tbody>
</table>

@Html.PagedListPager(Model, page => Url.Action("List", new { page }),
PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(
new PagedListRenderOptions {
MaximumPageNumbersToDisplay = 10,
DisplayPageCountAndCurrentLocation = true,
LinkToFirstPageFormat = L("FirstPage"),
LinkToLastPageFormat = L("LastPage"),
LinkToNextPageFormat = L("NextPage"),
PageCountAndCurrentLocationFormat = L("{1}pages{2}Records"),
LinkToPreviousPageFormat = L("PreviousPage"),
UlElementClasses = new[] { "pagination col-md-8" },
ContainerDivClasses = new[] { "row" } },
new AjaxOptions()
{
DataForm = "searchForm",
HttpMethod = "GET",
UpdateTargetId = "table"
}
))
<script src="~/view-resources/Areas/Set/User.js"></script>
<script>
    var txt = $("input[name='Name']").val().trim();
    if (txt.length > 0) {
        $(".title").each(function () {
            var newTxt = $(this).html().replace(txt, txt.fontcolor("red"));
            $(this).html(newTxt);
        });
    }
</script>
