
@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewBag.FirstMenu = "SystemSet";
    ViewBag.SecondMenu = "UserManager";
}
@using Webdiyer.WebControls.Mvc

@using System.Data
@model PagedList<DataRow>
<link href="/lib/admin/css/plugins/iCheck/custom.css" rel="stylesheet">
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2></h2>
        <ol class="breadcrumb">
            <li>
                <a href="/">@L("HomePage")</a>
            </li>
            <li>
                <a>@L("SystemSet")</a>
            </li>
            <li class="active">
                <strong>@L("UserList")</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>@L("UserList") </h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li>
                                <a href="#">选项 1</a>
                            </li>
                            <li>
                                <a href="#">选项 2</a>
                            </li>
                        </ul>
                        <a class="close-link">

                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">

                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>@L("UserName")</th>
                                <th>@L("PhoneNumber")</th>
                                <th>@L("Status")</th>
                                <th>@L("Email")</th>
                                <th>@L("Operate")</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (DataRow item in Model)
                            {
                            <tr>
                                <td>@item["UserName"]</td>
                                <td>@item["PhoneNumber"]</td>
                                <td>  <a href="#"><i class="fa fa-check text-navy"></i></a></td>
                                <td>@item["EmailAddress"]</td>
                                <td>
                                    <a href="#"><i class="fa fa-check text-navy"></i></a>
                                </td>
                            </tr>
                            }

                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>

