@using Abp.Collections.Extensions
@using UnionMall.Web.Views
@using UnionMall.Web.Views.Shared.Components.SideBarNav
@using UnionMall.Sessions.Dto
@model SideBarNavViewModel
@{
    GetCurrentLoginInformationsOutput loginInfo = ViewBag.LoginInfo;
    var calculateMenuUrl = new Func<string, string>((url) =>
    {
        if (string.IsNullOrEmpty(url))
        {
            return ApplicationPath;
        }

        if (UrlChecker.IsRooted(url))
        {
            return url;
        }

        return ApplicationPath + url;


    });
}
<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <span>
                        <img alt="image" class="img-circle" src="/lib/admin/img/profile_small.jpg" />
                    </span>
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="clear">
                            @if (loginInfo.User != null)
                            {

                                <span class="block m-t-xs">
                                    <strong class="font-bold">@loginInfo.User.Name</strong>
                                </span>
                                <span class="text-muted text-xs block">@loginInfo.User.EmailAddress<b class="caret"></b></span>
                            }
                        </span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><a href="profile.html">@L("PersonalInformation")</a></li>
                        <li><a href="contacts.html">@L("ModificationInformation")</a></li>
                        <li><a href="mailbox.html">@L("LockScreen")</a></li>
                        <li class="divider"></li>
                        <li><a href="/account/Logout">@L("Logout")</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    @L("Menu")
                </div>
            </li>
            @foreach (var menuItem in Model.MainMenu.Items)
            {

                <li class="@(Model.ActiveMenuItemName == menuItem.Name ? "active" : "")">
                    <a href="javascript:void(0);">
                        <i class="@menuItem.Icon"></i>
                        <span class="nav-label">@menuItem.DisplayName</span>
                        <span class="fa arrow"></span>
                    </a>
                    <ul class="nav nav-second-level">
                        @foreach (var subMenuItem in menuItem.Items)
                        {
                            <li class="@(Model.ActiveMenuItemName == menuItem.Name ? "active" : "")"><a href="@subMenuItem.Url">@subMenuItem.DisplayName</a></li>
                        }
                    </ul>
                </li>
            }
            @*<li>
                    <a href="#"><i class="fa fa-sitemap"></i> <span class="nav-label">Menu Levels </span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse">
                        <li>
                            <a href="#" id="damian">Third Level <span class="fa arrow"></span></a>
                            <ul class="nav nav-third-level">
                                <li>
                                    <a href="#">Third Level Item</a>
                                </li>
                                <li>
                                    <a href="#">Third Level Item</a>
                                </li>
                                <li>
                                    <a href="#">Third Level Item</a>
                                </li>

                            </ul>
                        </li>
                    </ul>
                </li>*@

            <li class="special_link">
                <a href="javascript:void(0);">
                    <i class="glyphicon glyphicon-exclamation-sign"></i>
                    <span class="nav-label">@L("About")</span>
                </a>
            </li>
        </ul>

    </div>
</nav>
