@using System.Text.Encodings.Web
@using UnionMall.Web.Views.Shared.Components.AccountLanguages
@using UnionMall.Sessions.Dto
@using UnionMall.Web.Views.Shared.Components.TopBar
@model TopBarLanguageSwitchViewModel


@{
    Layout = null;

    GetCurrentLoginInformationsOutput loginInfo = ViewBag.LoginInfo;
}
<div class="row border-bottom">
    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
        </div>
        <ul class="nav navbar-top-links navbar-right">
            <li>
                <span class="m-r-sm text-muted welcome-message">@L("Welcome, {0}", loginInfo.User.Name)</span>
            </li>

            <li class="dropdown">
                <a id="CurrentLanguage" data-lan="@Model.CurrentLanguage.Name" href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button">
                    <i class="@Model.CurrentLanguage.Icon" title="@Model.CurrentLanguage.DisplayName"></i>
                    <span>@Model.CurrentLanguage.DisplayName</span>
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu pull-right">
                    @foreach (var language in Model.Languages)
                    {
                        if (language.Name != Model.CurrentLanguage.Name)
                        {
                            <li><a href="@(ApplicationPath)AbpLocalization/ChangeCulture?cultureName=@(language.Name)&returnUrl=@(Context.Request.Path)"><i class="@language.Icon"></i> @language.DisplayName</a></li>
                        }
                    }
                </ul>
            </li>
            <li>
                <a href="/Account/logout">
                    <i class="fa fa-sign-out"></i>@L("Logout")
                </a>
            </li>
        </ul>

    </nav>
</div>









<script>
    function LanguageSet()
    {
        var select = document.getElementById("Language");
        var index = select.selectedIndex; // 选中索引
        var name = select.options[index].value;
        window.location.href = '/AbpLocalization/ChangeCulture?cultureName=' + name + '&returnUrl=/account/login';
    }
</script>