@using System.Text.Encodings.Web
@using UnionMall.Web.Views.Shared.Components.AccountLanguages
@using UnionMall.Sessions.Dto
@using UnionMall.Web.Views.Shared.Components.TopBar
@model TopBarLanguageSwitchViewModel


@{
    Layout = null;

    GetCurrentLoginInformationsOutput loginInfo = ViewBag.LoginInfo;
}
<style>
    .box {
        position: relative;
    }

        .box::before {
            content: '';
            height: 8px;
            width: 100%;
            background: #000;
            opacity: .2;
            border-radius: 50%;
            position: absolute;
            top: 40px;
            left: 0;
            animation: shadow 3s linear infinite;
        }

        .box a {
            border-radius: 5px;
            animation: rotate 3s linear infinite;
            content: '';
            position: absolute;
            left: 0;
            top: 0;
        }

    @@keyframes shadow {
        0%, 100% {
            transform: scaleX(1);
        }

        50% {
            transform: scaleX(1.2);
        }
    }

    @@keyframes rotate {
        0% {
            transform: translateY(-5px);
        }

        25% {
            transform: translateY(5px);
        }

        50% {
            transform: translateY(10px) scale(1.1, 0.9);
        }

        75% {
            ransform: translateY(5px);
        }

        100% {
            transform: translateY(-5px);
        }
    }
</style>
<div class="row border-bottom">
    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
        </div>
        <ul class="nav navbar-top-links navbar-right">
            <li>
                <span class="m-r-sm text-muted welcome-message">@L("Welcome, {0}", loginInfo.User.Name)</span>
            </li>
            <li class="box">
                <a style="color:#f64521;" href="/main/about">
                    <i class="fa fa-qq"></i>@L("TCH")
                </a>
            </li>
            <li class="dropdown">
                <a id="CurrentLanguage" data-lan="@Model.CurrentLanguage.Name" href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button">
                    <i class="@Model.CurrentLanguage.Icon" title="@Model.CurrentLanguage.DisplayName"></i>
                    <span>@Model.CurrentLanguage.DisplayName</span>
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu pull-right">
                    @foreach (var language in Model.Languages)
                    {
                        if (language.Name != Model.CurrentLanguage.Name)
                        {
                            <li><a href="@(ApplicationPath)AbpLocalization/ChangeCulture?cultureName=@(language.Name)&returnUrl=@(Context.Request.Path)"><i class="@language.Icon"></i> @language.DisplayName</a></li>
                        }
                    }
                </ul>
            </li>
            <li>
                <a href="/Account/logout">
                    <i class="fa fa-sign-out"></i>@L("Logout")
                </a>
            </li>
        </ul>

    </nav>
</div>

<script>
    function LanguageSet()
    {
        var select = document.getElementById("Language");
        var index = select.selectedIndex; // 选中索引
        var name = select.options[index].value;
        window.location.href = '/AbpLocalization/ChangeCulture?cultureName=' + name + '&returnUrl=/account/login';
    }
</script>