
@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewBag.FirstMenu = "BusinessManage";
    ViewBag.SecondMenu = "UnionBusiness";
}
@using System.Data
@using X.PagedList
@using UnionMall.Entity;
@model PagedList<DataRow>
<link href="~/lib/admin/css/plugins/datapicker/datepicker3.css" rel="stylesheet" asp-append-version="true" />
<link href="~/lib/kindeditor/themes/default/default.css" rel="stylesheet" asp-append-version="true" />
<script src="~/lib/kindeditor/kindeditor-all-min.js" asp-append-version="true"></script>
<script src="~/lib/admin/js/plugins/datapicker/bootstrap-datepicker.js" asp-append-version="true"></script>
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2></h2>
        <ol class="breadcrumb">
            <li>
                <a href="/">@L("BusinessManage")</a>
            </li>
            <li class="active">
                <strong>@L("UnionBusiness")</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>@L("UnionBusiness") </h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li>
                                <a data-ajax="true" data-ajax-form="searchForm"
                                   data-ajax-loading="loading" data-ajax-loading-duration="2"
                                   data-ajax-method="GET" data-ajax-mode="Replace" data-ajax-update="#table"
                                   href="/business/business/list?page=1&pageSize=10">10</a>
                            </li>
                            <li>
                                <a data-ajax="true" data-ajax-form="searchForm"
                                   data-ajax-loading="loading" data-ajax-loading-duration="2"
                                   data-ajax-method="GET" data-ajax-mode="Replace" data-ajax-update="#table"
                                   href="/business/business/list?page=1&pageSize=15">15</a>
                            </li>
                            <li>
                                <a data-ajax="true" data-ajax-form="searchForm"
                                   data-ajax-loading="loading" data-ajax-loading-duration="2"
                                   data-ajax-method="GET" data-ajax-mode="Replace" data-ajax-update="#table"
                                   href="/business/business/list?page=1&pageSize=20">20</a>
                            </li>
                        </ul>
                        <a class="close-link">

                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">

                    <div class="row">
                        <div class="col-sm-1">
                            <button id="add" class="btn btn-primary btn-sm m-b" type="button"><i class="fa fa-plus"></i>&nbsp;@L("Add")</button>
                        </div>

                        <div class="col-sm-2">
                            <form id="searchForm" data-ajax="true" data-ajax-update="#table" action="/business/business/List" method="post">
                                <div class="input-group">
                                    <input type="text" name="BusinessName" placeholder="@L("BusinessName")" class="input-sm form-control"> <span class="input-group-btn">
                                        <button type="submit" class="btn btn-sm btn-primary">@L("Search")</button>
                                    </span>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div id="table">
                        @Html.Partial("_Table", Model)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="DivAdd">
    @Html.Partial("_Add", new Business())
</div>
<script src="~/lib/jquery-validation/dist/jquery.validate.js" asp-append-version="true"></script>
<script src="~/lib/pager/jquery.unobtrusive-ajax.js" asp-append-version="true"></script>
<script src="~/lib/admin/js/plugins/sweetalert/sweetalert.min.js" asp-append-version="true"></script>
<script>
    function Delete(btn) {

        var id = $(btn).attr("data-id");
        swal({
            title:$(btn).attr("data-title"),
            text: '',
            type: 'question',
            showCancelButton: true,
            confirmButtonText: '@L("OK")',
            cancelButtonText:'@L("Cancel")'
        }).then(function (isConfirm) {
            if (isConfirm.value==true) {
                $.post("/business/business/delete", { id: id }, function (data) {
                    if (data.result.succ) {
                        $(".pagination .active a").click();
                    } else {
                        swal(
                            data.result.msg,
                            '',
                            'error'
                        )
                    }
                });
            }
        })
    }
</script>