@using System.Globalization
@using Abp.Configuration.Startup
@using Abp.Web.Security.AntiForgery
@using UnionMall
@using UnionMall.Web.Resources
@inject UnionMall.Timing.AppTimes AppTimes
@inject IAbpAntiForgeryManager AbpAntiForgeryManager
@inject IMultiTenancyConfig MultiTenancyConfig
@inject IWebResourceManager WebResourceManager
@{
    Layout = null;
    AbpAntiForgeryManager.SetCookie(Context);
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="~/favicon.ico">
    <title>@L("UnionMall")</title>
    <link href="/lib/admin/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="~/lib/admin/css/bootstrap.min.css" rel="stylesheet" />

    <link href="~/css/style.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/lib/admin/css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" rel="stylesheet" />
    <link href="~/lib/admin/css/plugins/sweetalert/sweetalert.css" rel="stylesheet" />
    <script src="/lib/admin/js/jquery-3.1.1.min.js"></script>

    <!-- View specific styles -->
    @RenderSection("styles", required: false)

    <script type="text/javascript">
        var abp = abp || {};
        abp.appPath = '@ApplicationPath';
    </script>

</head>
<body class="login-page">

    <div class="login-box">
        <div class="logo">
            <a href="javascript:void(0);">@L("UnionMall")</a>
        </div>
        @RenderBody()
        <div class="row">
            <div class="col-xs-12 text-center" style="color: #e9e9e9">
                <small>&copy; @DateTime.Now.Year @L("UnionMall")-[@AppVersionHelper.ReleaseDate.ToString("yyyy-MM-dd")]</small>
            </div>
        </div>

        <vc:account-languages></vc:account-languages>
    </div>
    <environment names="Development">

        <script src="~/lib/jquery-validation/dist/jquery.validate.js" asp-append-version="true"></script>
        <script src="~/lib/admin/js/plugins/sweetalert/sweetalert.min.js"></script>
        <!--setBusy--->
        <script src="~/lib/abp-web-resources/Abp/Framework/scripts/abp.js" asp-append-version="true"></script>

        <!--abp.ajax--->
        <script src="~/lib/abp-web-resources/Abp/Framework/scripts/libs/abp.jquery.js" asp-append-version="true"></script>
    </environment>

    @WebResourceManager.RenderScripts()

    <!-- View specific scripts -->
    @RenderSection("scripts", required: false)
</body>
</html>
