
@using System.Globalization
@using Abp.Configuration.Startup
@using Abp.Web.Security.AntiForgery
@using UnionMall
@using UnionMall.Web.Resources
@inject UnionMall.Timing.AppTimes AppTimes
@inject IAbpAntiForgeryManager AbpAntiForgeryManager
@inject IMultiTenancyConfig MultiTenancyConfig
@inject IWebResourceManager WebResourceManager
@{
    Layout = null;
    AbpAntiForgeryManager.SetCookie(Context);
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@L("UnionMall")</title>

    <link href="~/lib/admin/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/lib/admin/css/style.css" rel="stylesheet">
    <style>
        p, h3, small {
            color: #fff;
        }
        .form-group {
            margin-bottom: 25px;
        }
    </style>
</head>

<body class="gray-bg">
    <div class="middle-box text-center loginscreen animated fadeInDown">
        <div>
            <div>
                <h1 class="logo-name">@L("UnionMall")</h1>

            </div>
            <h3>@L("Welcome to")</h3>
            <p>
                @L("This system is for demonstration only")
            </p>
            <form id="LoginForm" asp-action="Login" method="post">
                <input type="hidden" name="returnUrl" value="@Model.ReturnUrl" />
                <input type="hidden" name="returnUrlHash" />
                <div class="form-group">
                    <input type="text" class="form-control" value="" name="TenantName" placeholder="@L("TenantName")" required autofocus maxlength="100">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" value="admin" name="usernameOrEmailAddress" placeholder="@L("UserNameOrEmail")" required autofocus maxlength="100">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" name="Password" placeholder="@L("Password")" required maxlength="100" value="123qwe">
                </div>
                <button style="margin-top:30px;" type="submit" class="btn btn-danger block full-width m-b">@L("LogIn")</button>
                @*<a href="#"><small>Forgot password?</small></a>*@
            </form>
            <p class="m-t">  <small>&copy; @DateTime.Now.Year @L("UnionMall")-[@AppVersionHelper.ReleaseDate.ToString("yyyyMMdd")]</small> </p>

        </div>
    </div>
    <script src="~/view-resources/Views/Account/Login.js"></script>
</body>
</html>
