
@{
    Layout = null;
}

<div class="modal inmodal" id="editStore" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content animated flipInY">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">@L("Change")@L("Store")</h4>
                <small class="font-bold"></small>
            </div>
            <form method="post" action="javascript:void(0);" class="form-horizontal">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label>@L("Select")@L("Store")</label>
                                @Html.DropDownList("Store", (SelectList)ViewData["ChainStore"], L("Choose"), new { @class = "input-sm form-control chosen-select", @style = "padding: 3px 5px;" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal">@L("Close")</button>
                    <button type="button" class="btn btn-primary" onclick="SaveStore();">@L("Save")</button>
                </div>
            </form>
        </div>
    </div>
</div>
