
@{

    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewBag.FirstMenu = "UnionMember";
    ViewBag.SecondMenu = "CardInfo";
}
<style>
    .order-item p {
        padding-left: 20px;
        display: inline-block;
        width: 33%;
        margin: 0;
    }
</style>
<link href="~/lib/admin/css/plugins/chosen/bootstrap-chosen.css" asp-append-version="true" rel="stylesheet" />
<link href="~/lib/treetable/script/treeTable/default/jquery.treeTable.css" rel="stylesheet" asp-append-version="true" />
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2></h2>
        <ol class="breadcrumb">
            <li>
                <a href="/">@L("HomePage")</a>
            </li>
            <li>
                <a>@L("Member")</a>
            </li>
            <li class="active">
                <strong>@L("CardInfo")</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <input type="hidden" name="storeId" value="" />
    <input type="hidden" name="levelId" value="" />
    <div class="row">
        <div class="col-lg-6">
            <div class="ibox float-e-margins">
                <div class="contact-box">
                    <form class="form-inline" id="searchForm" method="post">
                        <div class="form-group">
                            <div class="input-group">
                                <input type="number" value="@ViewBag.CarId" required name="CardID" placeholder="@L("Member")@L("CardID")" class="m-b input-sm form-control" />
                                <span class="input-group-btn">
                                    <button id="readBtn" type="button" class="btn btn-primary btn-sm">
                                        @L("Search")
                                    </button>
                                </span>
                            </div>
                        </div>
                    </form>
                    <br />
                    <p>
                        @if (IsGranted("UnionMember.CardInfo.ChangeLevel"))
                        {
                            <button type="button" class="btn btn-outline btn-primary btn-sm" onclick="EditLevel();">@L("Change")@L("Level")</button>
                        }
                        @if (IsGranted("UnionMember.CardInfo.ChangeStore"))
                        {
                            <button type="button" class="btn btn-outline btn-primary btn-sm" onclick="EditStore();">@L("Change")@L("Store")</button>
                        }
                        @if (IsGranted("UnionMember.CardInfo.ChangeCardID"))
                        {
                            <button type="button" class="btn btn-outline btn-primary btn-sm" onclick="EditCardId();">@L("Change")@L("CardID")</button>
                        }
                        @if (IsGranted("UnionMember.CardInfo.ResetPwd"))
                        {
                            <button type="button" class="btn btn-outline btn-primary btn-sm" onclick="ResetPwd();">@L("Reset")@L("Password")</button>
                        }
                        @if (IsGranted("UnionMember.CardInfo.SendCoupon"))
                        {
                            <button type="button" class="btn btn-outline btn-primary btn-sm" onclick="ShowSendCoupon();">@L("Send")@L("Coupon")</button>
                        }      
                    </p>
                </div>
            </div>


        </div>
        <div class="col-lg-6">
            <div class="contact-box">
                <div class="col-sm-2">
                    <div class="text-center">
                        <img id="HeadImg" alt="image" class="img-circle m-t-xs img-responsive" src="/img/avatar-default.png" onerror="this.src='/img/avatar-default.png'" />
                        <div class="m-t-xs font-bold" id="Level"></div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <h3><strong>@L("WeChat")@L("Name"):<span id="WeChatName" class="text-success">-</span></strong></h3>
                    <p>@L("CardID"):<span id="CardID" class="text-success">-</span></p>
                    <p>@L("PhoneNumber"):<span id="Mobile" class="text-success">-</span></p>
                    <p>@L("Sex"):<span id="Sex" class="text-success">-</span></p>
                    <p>@L("BirthDay"):<span id="BirthDay" class="text-success">-</span> </p>
                </div>
                <div class="col-sm-4">
                    <h3><strong>@L("FullName"):<span id="FullName" class="text-success"></span></strong></h3>
                    <p>@L("Integral"):<span id="Integral" class="text-success">-</span></p>
                    <p>@L("Balance"):<span id="Balance" class="text-success">-</span></p>
                    <p>@L("Email"):<span id="Email" class="text-success">-</span></p>
                    <p>@L("Register")@L("Time"):<span id="RegTime" class="text-success">-</span></p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <form class="form-inline" id="consumeForm" data-ajax="true" data-ajax-update="#tableConsume" action="/member/cardcore/consumelist" method="post">
        <input type="hidden" name="memberId" value="0" />
    </form>
    <form class="form-inline" id="balanceForm" data-ajax="true" data-ajax-update="#tableBalance" action="/member/cardcore/BalanceList" method="post">
        <input type="hidden" name="memberId" value="0" />
    </form>
    <form class="form-inline" id="integralForm" data-ajax="true" data-ajax-update="#tableIntegral" action="/member/cardcore/IntegralList" method="post">
        <input type="hidden" name="memberId" value="0" />
    </form>
    <form class="form-inline" id="orderForm" data-ajax="true" data-ajax-update="#tableOrder" action="/member/cardcore/orderlist" method="post">
        <input type="hidden" name="memberId" value="0" />
    </form>
    <form class="form-inline" id="couponForm" data-ajax="true" data-ajax-update="#tableCoupon" action="/member/cardcore/couponlist" method="post">
        <input type="hidden" name="memberId" value="0" />
    </form>
    <div class="row">
        <div class="col-lg-12">
            <div class="tabs-container">
                <ul class="nav nav-tabs" id="myTabs">
                    <li class="active"><a data-toggle="tab" href="#home" aria-expanded="true">@L("Consume")@L("Records")</a></li>
                    <li class=""><a data-toggle="tab" href="#value" aria-expanded="false">@L("Balance")@L("Records")</a></li>
                    <li class=""><a data-toggle="tab" href="#point" aria-expanded="false">@L("Integral")@L("Records")</a></li>
                    <li class=""><a data-toggle="tab" href="#order" aria-expanded="false">@L("Order")@L("Records")</a></li>
                    <li class=""><a data-toggle="tab" href="#coupon" aria-expanded="false">@L("Coupon")@L("Use")@L("Records")</a></li>
                </ul>
                <div class="tab-content">
                    <div id="home" class="tab-pane fade active in" aria-labelledby="home-tab">
                        <div class="panel-body" id="tableConsume">
                            @Html.Partial("_TableConsume", null)
                        </div>
                    </div>
                    <div id="value" class="tab-pane fade" aria-labelledby="point-tab">
                        <div class="panel-body" id="tableBalance">
                            @Html.Partial("_TableBalance", null)
                        </div>
                    </div>
                    <div id="point" class="tab-pane fade" aria-labelledby="value-tab">
                        <div class="panel-body" id="tableIntegral">
                            @Html.Partial("_TableIntegral", null)
                        </div>
                    </div>
                    <div id="order" class="tab-pane fade" aria-labelledby="value-tab">
                        <div class="panel-body" id="tableOrder">
                            @Html.Partial("_TableOrder", null)
                        </div>
                    </div>
                    <div id="coupon" class="tab-pane fade" aria-labelledby="value-tab">
                        <div class="panel-body" id="tableCoupon">
                            @Html.Partial("_TableCoupon", null)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@Html.Partial("_EditStore")
@Html.Partial("_EditLevel")
@Html.Partial("_EditCard")
@Html.Partial("_ResetPwd")
@Html.Partial("_SendCoupon")
<script src="~/js/jquery.unobtrusive.js" asp-append-version="true"></script>
<script src="~/lib/treetable/script/treeTable/jquery.treeTable.js" asp-append-version="true"></script>
<script src="~/lib/admin/js/plugins/chosen/chosen.jquery.js" asp-append-version="true"></script>
<script>
    document.onkeydown = function () {
        if (event.keyCode == 13 || event.keyCode == 123 || event.keyCode == 116) {
            $("#readBtn").click();
            event.keyCode = 0; event.returnValue = false;
        }
    }
    $('#myTabs a').click(function (e) {
        e.preventDefault()
        $(this).tab('show')
    });
    $("#readBtn").click(function () {
        if ($("input[name='CardID']").val() == "") {
            $("input[name='CardID']").focus();
            return;
        }
        abp.ajax({
            contentType: 'application/x-www-form-urlencoded',
            url: "/member/cardcore/GetCardInfo",
            data: { cardId: $("input[name='CardID']").val() },
            success: function (data) {

                if (data.succ) {
                    $("#HeadImg").attr("src", data.member.headImg);
                    $("#CardID").html(data.member.cardID);
                    $("#Level").html(data.member.level);
                    $("#WeChatName").html(data.member.weChatName);
                    $("#Mobile").html(data.member.mobile);
                    $("#Sex").html(data.member.sex=="0"?'@L("Male")':'@L("Female")');
                    $("#BirthDay").html(data.member.birthDay);
                    $("#Integral").html(data.member.integral);
                    $("#Balance").html(data.member.balance);
                    $("#Email").html(data.member.email);
                    $("#RegTime").html(data.member.regTime);
                    $("#FullName").html(data.member.fullName);
                    $("input[name='storeId']").val(data.member.chainStoreId);
                    $("input[name='levelId']").val(data.member.levelId);
                    $("input[name='memberId']").each(function () {
                        $(this).val(data.member.id);
                    });
                    $("#consumeForm").submit();
                    $("#balanceForm").submit();
                    $("#integralForm").submit();
                    $("#orderForm").submit();
                    $("#couponForm").submit();
                } else {
                    toastr.options = {
                        "closeButton": false,//是否配置关闭按钮
                        "debug": false,//是否开启debug模式
                        "newestOnTop": false,//新消息是否排在最上层
                        "progressBar": true,//是否显示进度条
                        "timeOut": "2000",//1.5s后关闭消息框
                    }
                   toastr.error("@L("NotExist{0}",L("CardID"))", "@L("Hint")");
                }
            }
        })
    });
        function SuccessTip()
    {
                     toastr.options = {
                "closeButton": false,//是否配置关闭按钮
                "debug": false,//是否开启debug模式
                "newestOnTop": false,//新消息是否排在最上层
                "progressBar": true,//是否显示进度条
                "timeOut": "2000",//1.5s后关闭消息框
            }
            toastr.success('@L("Save")@L("Success")', '@L("Hint")');
    }
    $(function () {
        if ($("input[name='CardID']").val() != "") { $("#readBtn").click(); }
        $('.chosen-select').chosen({ width: "100%" });
    });
    function EditStore()
    {
        $("#Store").val($("input[name='storeId']").val());
        $("#Store").trigger("chosen:updated");
        $("#editStore").modal('show');
    }
    function SaveStore()
    {
        if ($("#Store").val() == "")
        {
            $("#Store").trigger("chosen:open");
            event.preventDefault();
            event.stopPropagation();
            return false;
        }
        var _Service = abp.services.app.member;
        _Service.cardCoreEdit("ChainStoreId", $("input[name='CardID']").val(), $("input[name='memberId']").val(),
            $("#Store").val()).done(function (data) { SuccessTip(); $("#editStore").modal('hide'); })
            .fail(function (data) { })
            .always(function (data) { });
    }

    function EditLevel()
    {
        $("#LevelId").val($("input[name='levelId']").val());
        $("#LevelId").trigger("chosen:updated");
        $("#editLevel").modal('show');
    }
    function SaveLevel()
    {
        if ($("#LevelId").val() == "")
        {
            $("#LevelId").trigger("chosen:open");
            event.preventDefault();
            event.stopPropagation();
            return false;
        }
        var _Service = abp.services.app.member;
        _Service.cardCoreEdit("LevelId", $("input[name='CardID']").val(), $("input[name='memberId']").val(),
            $("#LevelId").val()).done(function (data) { SuccessTip(); $("#editLevel").modal('hide');})
            .fail(function (data) { })
            .always(function (data) { });
    }
    function EditCardId()
    {
        $("#newCardId").val('');
        $("#editCardId").modal('show');
    }
    function SaveCard()
    {
        if ($("#newCardId").val() == "")
        {
            event.preventDefault();
            event.stopPropagation();
            $("#newCardId").focus();
            return;
        }
        var _Service = abp.services.app.member;
        _Service.cardCoreEdit("CardId", $("input[name='CardID']").val(), $("input[name='memberId']").val(),
            $("#newCardId").val()).done(function (data) { SuccessTip(); $("#editCardId").modal('hide');})
            .fail(function (data) { })
            .always(function (data) { });
    }
    function ResetPwd()
    {
        $("#pwd").val('');
        $("#newPwd").val('');
        $("#editResetPwd").modal('show');

    }
    function SavePwd()
    {
        if ($("#pwd").val() == "")
        { $("#pwd").focus(); return; }
        if ($("#newPwd").val() == "")
        { $("#newPwd").focus(); return; }

        if ($("#newPwd").val() != $("#pwd").val())
        {
            $("#newPwd").focus();
            $("#newPwd").siblings(".help-block").fadeIn(500);
            return;
        }
        $("#newPwd").siblings(".help-block").fadeOut(300);
        var _Service = abp.services.app.member;
        _Service.cardCoreEdit("PassWord", $("input[name='CardID']").val(), $("input[name='memberId']").val(),
            $("#newPwd").val()).done(function (data) { SuccessTip(); $("#editResetPwd").modal('hide'); })
            .fail(function (data) { })
            .always(function (data) { });
    }
    function ShowSendCoupon(){
     $("#editCoupon").modal('show');
    }
    function  SendCoupon()
    {
        if ($("#sendCou").val()==null)
        {
            $("#editCoupon").modal('hide');
            return;
        }

            var _Service = abp.services.app.coupon;
        _Service.sendCoupon($("input[name='memberId']").val(),
            $("#sendCou").val()).done(function (data) {
                if (data.succ)
                {
                    $("#editCoupon").modal('hide'); SuccessTip();

        }else {
                                         toastr.options = {
                "closeButton": false,//是否配置关闭按钮
                "debug": false,//是否开启debug模式
                "newestOnTop": false,//新消息是否排在最上层
                "progressBar": true,//是否显示进度条
                "timeOut": "2000",//1.5s后关闭消息框
            }
            toastr.error(data.msg, '@L("Hint")');
        }

    })
            .fail(function (data) { })
            .always(function (data) { });
    }
</script>
