
@{

    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewBag.FirstMenu = "UnionMember";
    ViewBag.SecondMenu = "CardInfo";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2></h2>
        <ol class="breadcrumb">
            <li>
                <a href="/">@L("HomePage")</a>
            </li>
            <li>
                <a>@L("Member")</a>
            </li>
            <li class="active">
                <strong>@L("CardInfo")</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-lg-4">
            <div class="contact-box">
                <a href="profile.html">
                    <div class="col-sm-4">
                        <div class="text-center">
                            <img alt="image" class="img-circle m-t-xs img-responsive" src="http://cn.inspinia.cn/html/inspiniaen/img/a6.jpg">
                            <div class="m-t-xs font-bold">超级CEO</div>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <h3><strong>小红</strong></h3>
                        <p><i class="fa fa-map-marker"></i> 中国.北京 123/123</p>
                        <address>
                            <strong>企鹅公司</strong><br>
                            北京市朝阳区某区某街道<br>
                            企鹅 100000 <br>
                            手机 18900000000 <br>
                            邮编 100020 <br>
                        </address>
                    </div>
                    <div class="clearfix"></div>
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="tabs-container">
                <ul class="nav nav-tabs" id="myTabs">
                    <li class="active"><a data-toggle="tab" href="#home" aria-expanded="true">消费记录</a></li>
                    <li class=""><a data-toggle="tab" href="#point" aria-expanded="false">积分记录</a></li>
                    <li class=""><a data-toggle="tab" href="#value" aria-expanded="false">余额记录</a></li>
                    <li class=""><a data-toggle="tab" href="#recive" aria-expanded="false">@L("Coupon")@L("Receive")@L("Records")</a></li>
                    <li class=""><a data-toggle="tab" href="#use" aria-expanded="false">@L("Coupon")@L("Use")@L("Records")</a></li>
                </ul>
                <div class="tab-content">
                    <div id="home" class="tab-pane fade active in" aria-labelledby="home-tab">
                        <div class="panel-body">
                            <p>1.近日沃尔沃宣布将联合瑞典汽车安全公司奥托立夫(AUTOLIV)成立一个独立子公司，该公司将专攻瞄准未来车型自动驾驶技 术相关的研发。奥托立夫公司(AUTOLIV)是在瑞典设立的一家国际跨国公司，公司多年来研发汽车电子安全系统、电子控制单元，汽车方向盘系统以及夜视 和雷达传感系统，新的合作能够让新公司吸取Autoliv多年来在汽车驾驶安全配件制造方面的经验，研发未来用于沃尔沃或其它厂商的无人驾驶软件系统。</p>
                        </div>
                    </div>
                    <div id="point" class="tab-pane fade" aria-labelledby="point-tab">
                        <div class="panel-body">
                            <p>2.近日沃尔沃宣布将联合瑞典汽车安全公司奥托立夫(AUTOLIV)成立一个独立子公司，该公司将专攻瞄准未来车型自动驾驶技 术相关的研发。奥托立夫公司(AUTOLIV)是在瑞典设立的一家国际跨国公司，公司多年来研发汽车电子安全系统、电子控制单元，汽车方向盘系统以及夜视 和雷达传感系统，新的合作能够让新公司吸取Autoliv多年来在汽车驾驶安全配件制造方面的经验，研发未来用于沃尔沃或其它厂商的无人驾驶软件系统。</p>
                        </div>
                    </div>
                    <div id="value" class="tab-pane fade" aria-labelledby="value-tab">
                        <div class="panel-body">
                            <p>3.近日沃尔沃宣布将联合瑞典汽车安全公司奥托立夫(AUTOLIV)成立一个独立子公司，该公司将专攻瞄准未来车型自动驾驶技 术相关的研发。奥托立夫公司(AUTOLIV)是在瑞典设立的一家国际跨国公司，公司多年来研发汽车电子安全系统、电子控制单元，汽车方向盘系统以及夜视 和雷达传感系统，新的合作能够让新公司吸取Autoliv多年来在汽车驾驶安全配件制造方面的经验，研发未来用于沃尔沃或其它厂商的无人驾驶软件系统。</p>
                        </div>
                    </div>
                    <div id="recive" class="tab-pane fade" aria-labelledby="value-tab">
                        <div class="panel-body">
                            <p>4.近日沃尔沃宣布将联合瑞典汽车安全公司奥托立夫(AUTOLIV)成立一个独立子公司，该公司将专攻瞄准未来车型自动驾驶技 术相关的研发。奥托立夫公司(AUTOLIV)是在瑞典设立的一家国际跨国公司，公司多年来研发汽车电子安全系统、电子控制单元，汽车方向盘系统以及夜视 和雷达传感系统，新的合作能够让新公司吸取Autoliv多年来在汽车驾驶安全配件制造方面的经验，研发未来用于沃尔沃或其它厂商的无人驾驶软件系统。</p>
                        </div>
                    </div>
                    <div id="use" class="tab-pane fade" aria-labelledby="value-tab">
                        <div class="panel-body">
                            <p>5.近日沃尔沃宣布将联合瑞典汽车安全公司奥托立夫(AUTOLIV)成立一个独立子公司，该公司将专攻瞄准未来车型自动驾驶技 术相关的研发。奥托立夫公司(AUTOLIV)是在瑞典设立的一家国际跨国公司，公司多年来研发汽车电子安全系统、电子控制单元，汽车方向盘系统以及夜视 和雷达传感系统，新的合作能够让新公司吸取Autoliv多年来在汽车驾驶安全配件制造方面的经验，研发未来用于沃尔沃或其它厂商的无人驾驶软件系统。</p>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>
<script>
    $('#myTabs a').click(function (e) {
        e.preventDefault()
        $(this).tab('show')
    })
</script>
