
@{
    Layout = null;
}

<div class="modal inmodal fade in" id="Create" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">@L("Add")@L("MemberLevel")</h4>
                <small class="font-bold"></small>
            </div>
            <form action="javascript:void(0);" method="post" id="Add">
                <input type="hidden" name="Id" value="0" class="form-control" />
                <input type="hidden" name="TenantId" value="0" class="form-control" />
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>@L("Name")</label>
                                <input type="text" name="Title" value="" class="form-control" required maxlength="32" minlength="2" />
                            </div>
                            <div class="form-group">
                                <label>@L("Integral")@L("LowerLimit")</label>
                                <input type="number" name="MinPoint" value="" class="form-control" required maxlength="32" minlength="1" />
                            </div>
                            <div class="form-group">
                                <label>@L("Init")@L("Integral")</label>
                                <input type="number" name="InitPoint" value="" class="form-control" required maxlength="32" minlength="1" />
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>@L("Sell")@L("Price")</label>
                                <input type="number" name="SellPrice" value="" class="form-control" required maxlength="32" minlength="1" />
                            </div>
                            <div class="form-group">
                                <label>@L("Integral")@L("UpperLimit")</label>
                                <input type="number" name="MaxPoint" value="" class="form-control" required maxlength="32" minlength="1" />
                            </div>

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">@L("Save")</button>
                    &nbsp;&nbsp;
                    <button type="button" class="btn btn-white" data-dismiss="modal">@L("Cancel")</button>
                </div>
            </form>
        </div>
    </div>
</div>

