@using System.Text.Encodings.Web
@using UnionMall.Web.Views.Shared.Components.AccountLanguages
@model LanguageSelectionViewModel
@if (Model.Languages.Count > 1)
{
    <div>
        <p style="display:flex;justify-content: center;">
            <lable>@L("LanguageSetting"):</lable>
            <select id="Language" onchange="LanguageSet();">
                @foreach (var languageInfo in Model.Languages)
                {
                    if (languageInfo.Name == Model.CurrentLanguage.Name)
                    {
                        <option selected="selected" value="@languageInfo.Name">@languageInfo.DisplayName</option>
                    }
                    else
                    {
                        <option value="@languageInfo.Name">@languageInfo.DisplayName</option>
                    }

                }
            </select>
        </p>
    </div>
}
<script>
    function LanguageSet() {
        var select = document.getElementById("Language");
        var index = select.selectedIndex; // 选中索引
        var name = select.options[index].value;
        window.location.href = '/AbpLocalization/ChangeCulture?cultureName=' + name + '&returnUrl=/account/login';
    }
</script>