
@{
    Layout = null;
}
@using System.Data
@model DataTable
<div class="modal inmodal fade in" id="Select" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">---</h4>
                <small class="font-bold"></small>
            </div>
            <div class="modal-body">
                <div class="ibox-content">
                    <table class="table table-bordered table-hover" id="objTable">
                        <thead>
                            <tr>
                                <th>@L("GoodsSpec")</th>
                                <th>@L("Stock")</th>
                                <th>@L("Buy")@L("Count")</th>
                                <th>@L("Price")</th>
                                <th>@L("Select")</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (DataRow item in Model.Rows)
                            {
                                <tr style="cursor:pointer;">
                                    <td class="title">
                                        @item["Text"]
                                    </td>
                                    <td>@item["Stock"]</td>
                                    <td style="padding:4px 0;">
                                        <input id="count@(item["Id"])" type="number" oninput="SetCount(this);" style="height:25px;" class="form-control input-sm" max="@item["Stock"]" name="buy-count" value="1" />
                                    </td>
                                    <td>@item["Price"]</td>
                                    <td>

                                        <div class="radio radio-inline radio-success">
                                            <input type="radio" value="@item["Id"]" id="se@(item["Id"])" name="selected" />
                                            <label for="se@(item["Id"])"></label>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>

                    <div class="form-horizontal">
                        @if (ViewBag.PayType.Contains("Coupon"))
                        {
                            <div class="row">
                                <div class="col-md-offset-3 col-sm-6">
                                    <div class="form-group">
                                        <div class="col-sm-3 radio radio-inline radio-success">
                                            <input type="radio" value="0" id="ckCouponPay" checked="checked" />
                                            <label for="ckCouponPay">@L("Coupon")</label>
                                        </div>
                                        <div class="col-sm-9">
                                            <select type="text" class="form-control" id="selectCop" onchange="InitNeedPay();">
                                                <option value="">-@L("Usable")@L("Coupon")-</option>
                                                @if (ViewBag.Coupon != null)
                                                {
                                                    @foreach (var item in ViewBag.Coupon.Rows)
                                                    {
                                                        <option data-value="@item["value"]" value="@item["id"]">@item["title"]</option>

                                                    }
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        @if (ViewBag.PayType.Contains("Integral"))
                        {
                            <div class="row">
                                <div class="col-md-offset-3 col-sm-6">
                                    <div class="form-group">
                                        <div class="col-sm-3 checkbox checkbox-inline checkbox-success">
                                            <input type="checkbox" data-max="@ViewBag.MaxIntegralToMoney" onchange="InitNeedPay();" value="@(ViewBag.Member==null?"0":ViewBag.Member.Integral)" id="ckIntegralPay" />
                                            <label for="ckIntegralPay">@L("Integral")@L("Pay")</label>
                                        </div>
                                        <div class="col-sm-9">
                                            <input type="text" id="iptIntegral" readonly="readonly" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        @if (ViewBag.PayType.Contains("Balance"))
                        {
                            <div class="row">
                                <div class="col-md-offset-3 col-sm-6">
                                    <div class="form-group">
                                        <div class="col-sm-3 checkbox checkbox-inline checkbox-success">
                                            <input type="checkbox" onchange="InitNeedPay();" value="@(ViewBag.Member==null?"0":ViewBag.Member.Balance)" id="ckValuePay" />
                                            <label for="ckValuePay">@L("Balance")@L("Pay")</label>
                                        </div>
                                        <div class="col-sm-9">
                                            <input type="text" id="iptBalance" readonly="readonly" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        <div class="hr-line-dashed"></div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label " style="text-align:left;">@L("Rce"):<strong class="text-danger" id="needPay" style="font-size:larger;">21.5</strong></label>
                                    <div class="col-sm-8">
                                        <div class="radio radio-inline radio-success">
                                            <input type="radio" value="0" id="Cash" name="PayType" />
                                            <label for="Cash">@L("Cash")@L("Pay")</label>
                                        </div>

                                        <div class="radio radio-inline radio-success">
                                            <input type="radio" value="1" id="WeChat" name="PayType" />
                                            <label for="WeChat">@L("WeChat")@L("Pay")</label>
                                        </div>

                                        <div class="radio radio-inline radio-success">
                                            <input type="radio" value="2" id="AliPay" name="PayType" />
                                            <label for="AliPay">@L("AliPay")@L("Pay")</label>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-offset-3 col-sm-6">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">@L("Note")</label>
                                    <div class="col-sm-9">
                                        <textarea id="memo" class="form-control"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" onclick="GoSubmit(this);">@L("OK")@L("Consume")</button>
                &nbsp;&nbsp;
                <button type="button" class="btn btn-white" data-dismiss="modal">@L("Cancel")</button>
            </div>

        </div>
    </div>
</div>
<script>
    $("#objTable tr").on("click", function ()
    {
        $("input[name='selected']:checked").prop("checked", false);
        $(this).find("input[type='radio']").prop("checked", true);
    });
    $("input[name='selected']").eq(0).prop("checked", true);
    $("input[name='PayType']").eq(0).prop("checked", true);

</script>
