
@{
    Layout = null;
}
@using System.Data
@model DataTable
<div class="modal inmodal fade in" id="Select" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">---</h4>
                <small class="font-bold"></small>
            </div>

            <div class="modal-body">

                    <div class="ibox-content">
                        <table class="table table-bordered table-hover" id="objTable">
                            <thead>
                                <tr>
                                    <th>@L("GoodsSpec")</th>
                                    <th>@L("Stock")</th>
                                    <th>@L("Buy")@L("Count")</th>
                                    <th>@L("Price")</th>
                                    <th>@L("Select")</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (DataRow item in Model.Rows)
                                {
                                    <tr style="cursor:pointer;">
                                        <td class="title">
                                            @item["Text"]
                                        </td>
                                        <td>@item["Stock"]</td>
                                        <td style="padding:4px 0;"><input type="number" style="height:25px;" class="form-control input-sm" max="@item["Stock"]" name="buy-count" value="1" /> </td>
                                        <td>@item["Price"]</td>
                                        <td onclick="">

                                            <div class="radio radio-inline radio-success">
                                                <input type="radio" value="@item["Id"]" id="se@(item["Id"])" name="selected" />
                                                <label for="se@(item["Id"])"></label>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">@L("OK")@L("Consume")</button>
                &nbsp;&nbsp;
                <button type="button" class="btn btn-white" data-dismiss="modal">@L("Cancel")</button>
            </div>

        </div>
    </div>
</div>
<script>
    $("#objTable tr").on("click", function ()
    {
        $("input[name='selected']:checked").prop("checked",false);
        $(this).find("input[type='radio']").prop("checked", true);
      //  this.style.backgroundColor = 'red';
    });
</script>
