
@{
    Layout = null;
}
@using System.Data
@using X.PagedList
@using X.PagedList.Mvc.Core
@model PagedList<DataRow>

<script src="~/js/jquery.unobtrusive.js" asp-append-version="true"></script>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>@L("Name")</th>
            <th>@L("Belong")@L("Business")</th>
            <th>@L("Introduce")</th>
            <th>@L("CreationTime")</th>
            <th>@L("Operate")</th>
        </tr>
    </thead>
    <tbody>
        @foreach (DataRow item in Model)
        {
            <tr>
                <td class="title">@item["Name"]</td>
                <td class="title">@item["BusinessName"]</td>
                <td>@item["Description"]</td>
                <td>@item["CreationTime"]</td>
                <td>

                    @if (item["Name"].ToString().ToUpper() != "ADMIN")
                    {
                        if (IsGranted("SystemSet.ManagerRole.Edit"))
                        {
                            <a href="/systemset/role/add/@item["Id"]" title="@L("Edit")" data-id="@item["Id"]"><i class="fa fa-edit text-navy"></i></a>
                        }

                        if (IsGranted("SystemSet.ManagerRole.Delete"))
                        {
                            <a style="margin-left:15px;" data-title="@L("DeleteConfirm{0}", item["Name"])" data-ok="@L("OK")"
                               data-cancle="@L("Cancel")" data-id="@item["id"]" onclick="Delete(this);" title="@L("Delete")" href="javascript:void(0);">
                                <i class="fa fa-trash text-navy"></i>
                            </a>
                        }
                    }


                </td>
            </tr>
        }

    </tbody>
</table>
@Html.PagedListPager(Model, page => Url.Action("List", new { page }),
    PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(
        new PagedListRenderOptions {
            MaximumPageNumbersToDisplay = 10,
            DisplayPageCountAndCurrentLocation = true,
            LinkToFirstPageFormat = L("FirstPage"),
            LinkToLastPageFormat = L("LastPage"),
            LinkToNextPageFormat = L("NextPage"),
            PageCountAndCurrentLocationFormat = L("{1}pages{2}Records"),
            LinkToPreviousPageFormat = L("PreviousPage"),
            UlElementClasses = new[] { "pagination col-md-8" },
            ContainerDivClasses = new[] { "row" } },
        new AjaxOptions()
        {
            DataForm = "searchForm",
            HttpMethod = "GET",
            UpdateTargetId = "table"
        }
))
<script>

    var txt = $("input[name='Name']").val().trim();
    if (txt.length > 0) {
        $(".title").each(function () {
            var newTxt = $(this).html().replace(txt, txt.fontcolor("red"));
            $(this).html(newTxt);
        });
    }
</script>
