
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.FirstMenu = "OnlineGoods";
    ViewBag.SecondMenu = "GoodsManage";
}
@model UnionMall.Goods.Dto.CreateOrEditDto
<link href="~/lib/admin/css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" asp-append-version="true" rel="stylesheet" />
<link href="~/lib/admin/css/plugins/chosen/bootstrap-chosen.css" rel="stylesheet" asp-append-version="true" />
<link href="~/lib/fileinput/css/fileinput.min.css" rel="stylesheet" asp-append-version="true" />
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2></h2>
        <ol class="breadcrumb">
            <li>
                <a href="/">@L("HomePage")</a>
            </li>
            <li>
                <a>@L("GoodsManage")</a>
            </li>
            <li class="active">
                <strong>@L("GoodsManage")</strong>
            </li>
        </ol>
    </div>
</div>
<style>
    .chosen-container {
        line-height: 22px;
    }
</style>
<div class="wrapper wrapper-content animated fadeInRight">
    <form class="form-inline" id="attrForm" data-ajax="true" data-ajax-update="#attrTable" action="/goodsmanage/goods/GetAttr" method="post"></form>
    <div class="ibox-content">
        <form method="post" id="formPost">
            <input type="hidden" name="Id" value="@Model.Goods.Id" />
            <input type="hidden" name="TenantId" value="@Model.Goods.TenantId" />
            <input type="hidden" name="ChainStoreId" value="@Model.Goods.ChainStoreId" />
            <div class="tabs-container">
                <ul class="nav nav-tabs" id="myTabs">
                    <li class="active"><a data-toggle="tab" href="#basic" aria-expanded="true">@L("Goods")@L("Info")</a></li>
                    <li class=""><a data-toggle="tab" href="#images" aria-expanded="false">@L("Detail")@L("Image")</a></li>
                    <li class=""><a data-toggle="tab" href="#GoodsAttr" aria-expanded="false">@L("GoodsAttr")</a></li>
                    <li class=""><a data-toggle="tab" href="#GoodsSpec" aria-expanded="false">@L("GoodsSpec")</a></li>
                </ul>
                <div class="tab-content">
                    <div id="basic" class="tab-pane fade active in" aria-labelledby="basic-tab">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>@L("Name")</label>
                                        <input type="text" name="Name" value="@Model.Goods.Name" class="form-control" required maxlength="50" />
                                    </div>
                                    <div class="form-group">
                                        <label>@L("GoodsCategory")</label>
                                        @Html.DropDownListFor(c => c.Goods.CategoryId, (SelectList)ViewData["Category"], L("Choose"), new { @class = "form-control chosen-select" })
                                    </div>
                                    <div class="form-group">
                                        <label>@L("Belong")@L("Brand")</label>
                                        @Html.DropDownListFor(c => c.Goods.BrandId, (SelectList)ViewData["Brand"], L("Choose"), new { @class = "form-control chosen-select" })
                                    </div>
                                    <div class="form-group">
                                        <label>@L("Belong")@L("Type")</label>
                                        @Html.DropDownListFor(c => c.Goods.Type, (SelectList)ViewData["GoodsType"], L("Choose"), new { @class = "form-control chosen-select" })
                                    </div>
                                    <div class="form-group">
                                        <label>@L("RetailPrice")</label>
                                        <input type="text" name="Price" value="@Model.Goods.RetailPrice" class="form-control" required maxlength="50">
                                    </div>
                                    <div class="form-group">
                                        <label>@L("Status")</label>
                                        <div style="padding-top:10px;">
                                            <div class="radio radio-inline radio-success">
                                                <input type="radio" id="s0" value="0" name="Status" @(Model.Goods.Status == 0 ? "checked" : "") />
                                                <label for="s0">@L("Shelve")</label>
                                            </div>
                                            <div class="radio radio-inline radio-success">
                                                <input type="radio" id="s1" value="1" name="Status" @(Model.Goods.Status == 1 ? "checked" : "") />
                                                <label for="s1">@L("UnShelve")</label>
                                            </div>
                                            <div class="radio radio-inline radio-success">
                                                <input type="radio" id="Aduit" value="2" name="Status" @(Model.Goods.Status == 2 ? "checked" : "") />
                                                <label for="Aduit">@L("Aduit")</label>
                                            </div>
                                            <div class="radio radio-inline radio-success">
                                                <input type="radio" id="StockOut" value="3" name="Status" @(Model.Goods.Status == 3 ? "checked" : "") />
                                                <label for="StockOut">@L("StockOut")</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>@L("Dtb")@L("Amount")</label>
                                        <div class="input-group bootstrap-touchspin">
                                            <input type="text" name="Commission" value="@Model.Goods.Commission" class="form-control" required maxlength="7">
                                            <span class="input-group-addon bootstrap-touchspin-postfix">%</span>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>@L("Sort")</label><span class="help-block m-b-none" style="display:inline;">&nbsp;&nbsp;(@L("SortTip"))</span>
                                        <input type="number" name="Sort" value="@Model.Goods.Sort" class="form-control" required>
                                    </div>

                                    <div class="form-group">
                                        <label>@L("Image")</label>
                                        <input type="hidden" id="hiddenImg" name="Img" value="@Model.Goods.Image" />
                                        <input id="input" title="@Model.Goods.Image" name="File" value="@Model.Goods.Image" type="file" data-show-preview="false">
                                    </div>
                                    <div class="form-group">
                                        <label>@L("Total")@L("Count")</label>
                                        <input type="number" name="StockCount" value="@Model.Goods.Stock" class="form-control" required>
                                    </div>
                                    <div class="form-group">
                                        <label>@L("Belong")@L("Store")</label>
                                        @Html.DropDownListFor(c => c.Goods.ChainStoreId, (SelectList)ViewData["ChainStore"], L("Choose"), new { @class = "form-control chosen-select" })
                                    </div>
                                    <div class="form-group">
                                        <label>@L("Price")</label>
                                        <input type="text" name="Price" value="@Model.Goods.Price" class="form-control" required maxlength="50">
                                    </div>
                                    <div class="form-group">
                                        <label>@L("SetRec")@L("Type")</label>
                                        <div style="padding-top:10px;">
                                            <div class="checkbox checkbox-inline checkbox-success">
                                                <input type="checkbox" id="Hot" name="RecommendType" @(Model.Goods.RecommendType.Contains("Hot") ? "checked='checked'" : "") value="Hot">
                                                <label for="Hot">@L("SetHot")</label>
                                            </div>
                                            <div class="checkbox checkbox-inline checkbox-success">
                                                <input type="checkbox" id="Rem" name="RecommendType" @(Model.Goods.RecommendType.Contains("Rec") ? "checked='checked'" : "") value="Rec">
                                                <label for="Rem">@L("SetRec")</label>
                                            </div>
                                            <div class="checkbox checkbox-inline checkbox-success">
                                                <input type="checkbox" id="Top" name="RecommendType" @(Model.Goods.RecommendType.Contains("Top") ? "checked='checked'" : "") value="Top">
                                                <label for="Top">@L("SetTop")</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label>@L("Note")</label>
                                        <textarea name="Memo" class="form-control" cols="4">@Model.Goods.Remark</textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label>@L("Detail")</label>
                                        <textarea style="width:100%;min-width:550px;" id="Detail" name="Detail" class="form-control" cols="5">@Model.Goods.Detail</textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="images" class="tab-pane fade" aria-labelledby="images-tab">
                        <div class="panel-body">
                            @Html.Partial("_AddImage", Model)
                        </div>
                    </div>
                    <div id="GoodsAttr" class="tab-pane fade" aria-labelledby="GoodsAttr-tab">
                        <div class="panel-body" id="attrTable">
                            @Html.Partial("_AddAttr")
                        </div>
                    </div>
                    <div id="GoodsSpec" class="tab-pane fade" aria-labelledby="GoodsSpec-tab">
                        <div class="panel-body">
                            @Html.Partial("GoodsSpec")
                        </div>
                    </div>
                </div>
            </div>
            <br /><br />
            <div class="col-md-8" style="text-align:center;">
                <button id="Save" type="submit" class="btn btn-primary">@L("Save")</button>&nbsp;&nbsp;&nbsp;
                <button onclick="javascript: history.back(-1);" type="button" class="btn btn-white" data-dismiss="modal">@L("Cancel")</button>
            </div>
            <br /><br />
        </form>
    </div>
</div>
<script src="~/js/jquery.unobtrusive.js" asp-append-version="true"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.js" asp-append-version="true"></script>
<script src="~/lib/admin/js/plugins/sweetalert/sweetalert.min.js" asp-append-version="true"></script>
<script src="~/lib/kindeditor/kindeditor-all.js" asp-append-version="true"></script>
<script src="~/lib/admin/js/plugins/chosen/chosen.jquery.js" asp-append-version="true"></script>
<script src="~/lib/fileinput/js/fileinput.js" asp-append-version="true"></script>
<script>
    language = $("#CurrentLanguage").attr("data-lan");
    if (language == "zh-Hans") {
        $.getScript('http://static.runoob.com/assets/jquery-validation-1.14.0/dist/localization/messages_zh.js', function () {
        });
        $.getScript('/lib/fileinput/js/locales/zh.js', function () {
        });
    }
</script>
<script>
    $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
        // e.target // newly activated tab
        if (String(e.target).indexOf("GoodsAttr") != -1) {
            if ($("#Goods_CategoryId").val()!="") {
                //$("#searchForm").attr("data-ajax-update", "#tableChat");
                $("#attrForm").attr("action", "/goodsmanage/goods/GetAttr?catid=" + $("#Goods_CategoryId").val());
                $("#attrForm").submit();
                // GetChartData();
           //     alert(1);
            }

        }
        // e.relatedTarget // previous active tab
    })
    $(function () {
        var imgArray = [];
        var img = '@Model.Goods.Image';
        if (img != '') {
            imgArray.push(img);
        }
        $('.chosen-select').chosen({ width: "100%" });
        $("#formPost").validate({});
        $("#input").fileinput({
            language: $("#CurrentLanguage").attr("data-lan") == 'zh-Hans' ? 'zh' : 'es',
            showRemove: false,
            showUpload: false,
            allowedFileExtensions: ['jpg', 'png', 'jpeg'],//接收的文件后缀
            showUploadedThumbs: false,
            uploadUrl: "/Common/Upload",
            initialPreview: imgArray,
            showClose: false,
            showCancel: false,
            slugCallback: function (filename) {
                return filename.replace('(', '_').replace(']', '_');
            }
        });
        //选择文件后处理事件
        $("#input").on("filebatchselected", function (event, files) {
            //执行文件上传方法
            $("#input").fileinput("upload");
        });
        //上传成功后处理方法
        $("#input").on("fileuploaded", function (event, data, previewId, index) {
            var url = data.response.result.url;
            debugger;
            $("input[name='Img']").val(url);
            //$(".hid" + index).val(url).addClass(previewId);
        });

        var _Service = abp.services.app.goods;
        $("#formPost").on("submit", function (e) {
            e.preventDefault();
            if (!$(this).valid()) {
                return;
            }
            var goods = $(this).serializeFormToObject();
            goods.categoryId = $("#Goods_CategoryId").val();
            goods.brandId = $("#Goods_BrandId").val();
            goods.chainStoreId = $("#Goods_ChainStoreId").val();
            goods.type = $("#Goods_Type").val();
            var EditDto = {};
            EditDto.goods = goods;
            var imgArray = [];
            for (var i = 0; i < 7; i++) {
                if ($("#Url" + i).val() == "") {
                    continue;
                }
                imgArray.push({
                    tenantId: $("input[name='TenantId']").val(),
                    objectId: $("input[name='Id']").val(),
                    type:1,
                    id: $("#id" + i).val(),
                    size: $("#Size" + i).val(),
                    url: $("#Url" + i).val(),
                    name:$("#Name"+i).val()
                });
            }
            EditDto.imageList = imgArray;
            _Service.createOrEdit(EditDto).done(function (data) {
                var url = sessionStorage.getItem("page");
                if (url != "" && url != undefined) {
                    window.location.href = url;
                } else {
                    window.location.href = '/goodsmanage/goods/list';
                }

            }).fail(function (data) {
            }).always(function (data) { });
        });
    });
    var language = $("#CurrentLanguage").attr("data-lan") == 'zh-Hans' ? 'zh-CN' : 'en';
    var editor
    KindEditor.ready(function (K) {
        editor = K.create('#Detail',
            {
                langType: language,
                height: '300px',
                uploadJson: "/Common/EditorUpload",
                fileManagerJson: '/Common/Upload',
                allowFileManager: false,
                formatUploadUrl: false,
                items: [
                    'justifyleft', 'justifycenter', 'justifyright',
                    'justifyfull', '|', 'fontname', 'fontsize', 'forecolor', 'hilitecolor', 'bold',
                    'italic', 'underline', '|', 'image', 'media', 'table', 'hr', 'emoticons', 'baidumap', 'link', '|',
                    'quickformat', 'preview', 'fullscreen'
                ],
                afterBlur: function () { this.sync(); },
                afterUpload: function (url) { },
                afterError: function (data) { }
            });
    });

</script>