@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.FirstMenu = "SystemSet";
    ViewBag.SecondMenu = "OperateModule";
}
@using System.Data
@using X.PagedList
@model PagedList<DataRow>


<style>
    #pic {
        position: fixed;
        display: none;
        z-index: 10;
    }
</style>
<link href="~/lib/admin/css/plugins/chosen/bootstrap-chosen.css" rel="stylesheet" asp-append-version="true" />
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2></h2>
        <ol class="breadcrumb">
            <li>
                <a href="/">@L("HomePage")</a>
            </li>
            <li>
                <a>@L("SystemSet")</a>
            </li>
            <li class="active">
                <strong>@L("OperateModule")</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>@L("OperateModule")</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>

                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-sm-12">
                            <form class="form-inline" id="searchForm" data-ajax="true" data-ajax-update="#table" action="/systemSet/module/list" method="post">
                                <div class="form-group">
                                    <input type="text" name="title" placeholder="@L("Title")" class="m-b input-sm form-control">
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-sm btn-primary m-b">@L("Search")</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div id="table">
                        @Html.Partial("_Table", Model)
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="DivAdd">
        @Html.Partial("_Add")
    </div>
</div>
<script src="~/js/jquery.unobtrusive.js" asp-append-version="true"></script>
<link href="~/lib/fileinput/css/fileinput.min.css" rel="stylesheet" asp-append-version="true" />
<script src="~/lib/fileinput/js/fileinput.js" asp-append-version="true"></script>
<script src="~/lib/fileinput/js/locales/zh.js" asp-append-version="true"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.js" asp-append-version="true"></script>
<script>

    function change(id) {
        var _Service = abp.services.app.operateModule;
        _Service.changeStatus(id)
            .done(function (data) {
                if ($(".pagination .active a").html() != undefined) {
                    $(".pagination .active a").click();
                } else { $("#searchForm").submit(); }
                                 toastr.options = {
                "closeButton": false,//是否配置关闭按钮
                "debug": false,//是否开启debug模式
                "newestOnTop": false,//新消息是否排在最上层
                "progressBar": true,//是否显示进度条
                "timeOut": "2000",//1.5s后关闭消息框
            }
            toastr.success('@L("Save")@L("Success")', '@L("Hint")');
             })
            .fail(function (data) { })
            .always(function (data) { });
    }

    var language = $("#CurrentLanguage").attr("data-lan") == 'zh-Hans' ? 'zh' : 'es';
    $("#input").fileinput({
        language: language,
        showRemove: false,
        showUpload: false,
        allowedFileExtensions: ['jpg', 'png', 'jpeg'],//接收的文件后缀
        showUploadedThumbs: false,
        uploadUrl: "/Common/Upload",
        showClose: false,
        showCancel: false,
        slugCallback: function (filename) {
            return filename.replace('(', '_').replace(']', '_');
        }
    });

    //选择文件后处理事件
    $("#input").on("filebatchselected", function (event, files) {
        //执行文件上传方法
        $("#input").fileinput("upload");
    });
    //上传成功后处理方法
    $("#input").on("fileuploaded", function (event, data, previewId, index) {
        var url = data.response.result.url;
        $("input[name='Icon']").val(url);
        //$(".hid" + index).val(url).addClass(previewId);
    });
    function Edit(Id,TenantId,title,icon,linkurl,keyname,sort,memo,Visabled)
    {


        $("input[name='Id']").val(Id);
        $("input[name='TenantId']").val(TenantId);
       $("input[name='Title']").val(title);
     $("input[name='KeyName']").val(keyname);
     $("input[name='Visabled']").val(Visabled);
     $("input[name='Icon']").val(icon);
    $("input[name='LinkUrl']").val(linkurl);

    $("input[name='Sort']").val(sort);

    $("textarea[name='Memo']").val(memo);

      $("#CreateModal").modal('show');
    }

            $("#Save").click(function (e) {
            e.preventDefault();
            if (!$("#formPost").valid()) {
                return;
            }
            var EditDto = $("#formPost").serializeFormToObject();
                var _Service = abp.services.app.operateModule;
                _Service.edit(EditDto).done(function (data) {
                    $("#CreateModal").modal('hide');
                    $("#searchForm").submit();

            }).fail(function (data) {
            }).always(function (data) { });
        });

</script>