
@{
    ViewData["Title"] = "_Table";
    Layout = null;
}
@using X.PagedList
@using System.Data
@using X.PagedList.Mvc.Core
@model PagedList<DataRow>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>@L("WeChat")@L("Name")</th>
            <th>@L("FullName")</th>
            <th>@L("PhoneNumber")</th>
            <th>@L("CardID")</th>
            <th>@L("Belong")@L("Business")</th>
            <th>@L("Belong")@L("ChainStore")</th>
            <th>@L("Belong")@L("Level")</th>
            <th>@L("Integral")</th>
            <th>@L("Balance")</th>
            <th>@L("Register")@L("Time")</th>
            <th>@L("Operate")</th>
        </tr>

    </thead>
    <tbody>
        @foreach (DataRow item in Model)
        {
            <tr>
                <td class="title">
                    <img style="width:20px;height:20px;    vertical-align: -5px;" onerror="this.src='/img/avatar-default.png'" src="@item["HeadImg"]" alt="Alternate Text" />
                    <span>@item["WechatName"]</span>
                </td>
                <td class="title"><span> @item["FullName"]</span></td>
                <td>@item["Mobile"]</td>
                <td>@item["CardID"]</td>
                <td>@item["BusinessName"]</td>
                <td>@item["StoreName"]</td>
                <td>@item["Title"]</td>
                <td>@item["Integral"]</td>
                <td>@item["Balance"]</td>
                <td>@item["RegTime"]</td>
                <td>


                    @if (IsGranted("SystemSet.UserManager.Delete"))
                    {

                        <a style="margin-left:20px;" data-title="@L("DeleteConfirm{0}",item["FullName"])" data-ok="@L("OK")"
                           data-cancle="@L("Cancel")" data-id="@item["id"]" onclick="Delete(this);" title="@L("Delete")" href="javascript:void(0);">
                            <i class="fa fa-trash text-navy"></i>
                        </a>

                    }


                </td>
            </tr>
        }

    </tbody>
</table>

@Html.PagedListPager(Model, page => Url.Action("List", new { page }),
PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(
new PagedListRenderOptions {
MaximumPageNumbersToDisplay = 10,
DisplayPageCountAndCurrentLocation = true,
LinkToFirstPageFormat = L("FirstPage"),
LinkToLastPageFormat = L("LastPage"),
LinkToNextPageFormat = L("NextPage"),
PageCountAndCurrentLocationFormat = L("{1}pages{2}Records"),
LinkToPreviousPageFormat = L("PreviousPage"),
UlElementClasses = new[] { "pagination col-md-8" },
ContainerDivClasses = new[] { "row" } },
new AjaxOptions()
{
DataForm = "searchForm",
HttpMethod = "GET",
UpdateTargetId = "table"
}
))
<script src="~/view-resources/Areas/Set/User.js"></script>
<script>
    var txt = $("input[name='Name']").val().trim();
    if (txt.length > 0) {
        $(".title").each(function () {
            var newTxt = $(this).html().replace(txt, txt.fontcolor("red"));
            $(this).html(newTxt);
        });
    }
</script>
