@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewBag.FirstMenu = "UnionMember";
    ViewBag.SecondMenu = "MemberList";
}

@using System.Data
@using X.PagedList

@model PagedList<DataRow>
<style>
    .swal2-container {
        z-index: 10000;
    }

    .chosen-container {
        margin-bottom: 15px;
        min-width: 10vw;
    }
</style>
<link href="~/lib/admin/css/plugins/chosen/bootstrap-chosen.css" asp-append-version="true" rel="stylesheet" />
<link href="~/lib/fileinput/css/fileinput.min.css" rel="stylesheet" asp-append-version="true" />
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2></h2>
        <ol class="breadcrumb">
            <li>
                <a href="/">@L("HomePage")</a>
            </li>
            <li>
                <a>@L("Member")</a>
            </li>
            <li class="active">
                <strong>@L("MemberList")</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>@L("MemberList") </h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li>
                                <a data-ajax="true" data-ajax-form="searchForm" data-ajax-method="GET" data-ajax-mode="Replace"
                                   data-ajax-update="#table" href="/member/member/List?pageSize=10">10/@L("Page")</a>
                            </li>
                            <li>

                                <a data-ajax="true" data-ajax-form="searchForm" data-ajax-method="GET" data-ajax-mode="Replace"
                                   data-ajax-update="#table" href="/member/member/List?pageSize=15">15/@L("Page")</a>
                            </li>
                            <li>
                                <a data-ajax="true" data-ajax-form="searchForm" data-ajax-method="GET" data-ajax-mode="Replace"
                                   data-ajax-update="#table" href="/member/member/List?pageSize=20">20/@L("Page")</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-sm-12">
                            @if (IsGranted("UnionMember.MemberList.Add"))
                            {
                                <button onclick="location.href='/member/memberreg/index'" class="btn btn-primary btn-sm m-b" type="button">
                                    <i class="fa fa-plus"></i>&nbsp;@L("Add")
                                </button>
                            }
                            @if (IsGranted("UnionMember.MemberList.Import"))
                            {
                                <button id="add" data-toggle="modal" data-target="#ImportModal" class="btn btn-primary btn-sm m-b" type="button">
                                    <i class="fa fa-arrow-up"></i>&nbsp;@L("Import")
                                </button>
                            }
                            @if (IsGranted("UnionMember.MemberList.Export"))
                            {
                                <button onclick="ExportExcel();" class="btn btn-primary btn-sm m-b" type="button"><i class="fa fa-arrow-down"></i>&nbsp;@L("Export")</button>
                            }

                        </div>
                        <div class="col-sm-12">
                            <form class="form-inline" id="searchForm" data-ajax="true" data-ajax-update="#table" action="/member/member/list" method="post">
                                <input type="hidden" name="pageSize" value="10" />
                                <div class="form-group">
                                    @Html.DropDownList("Level", (SelectList)ViewData["Level"], L("Choose"), new { @class = "input-sm form-control chosen-select", @style = "padding: 3px 5px;" })
                                </div>
                                @*<div class="form-group">
                                        @Html.DropDownList("Business", (SelectList)ViewData["Business"], L("Choose"), new { @class = "input-sm form-control chosen-select", @style = "padding: 3px 5px;" })
                                    </div>*@
                                <div class="form-group">
                                    @Html.DropDownList("Store", (SelectList)ViewData["ChainStore"], L("Choose"), new { @class = "input-sm form-control chosen-select", @style = "padding: 3px 5px;" })
                                </div>
                                <div class="form-group">
                                    <input type="text" name="Name" placeholder="@L(" FullName")/@L("WeChat")@L("Name")" class="m-b input-sm form-control">
                                </div>

                                <div class="form-group">
                                    <input type="text" name="RegTimeFrom" placeholder="@L(" Register")@L("Time")"
                                           class="m-b input-sm form-control" onclick="WdatePicker({lang: $('#CurrentLanguage').attr('data-lan')=='zh-Hans' ? 'zh-cn' : 'en' });">
                                    <span style="display: inline-block;vertical-align: 5px;">@L("To")</span>
                                    <input type="text" name="RegTimeTo" placeholder="@L(" Register")@L("Time")" class="m-b input-sm form-control"
                                           onclick="WdatePicker({lang: $('#CurrentLanguage').attr('data-lan')=='zh-Hans' ? 'zh-cn' : 'en' });">
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-sm btn-primary m-b">@L("Search")</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div id="table">
                        @Html.Partial("_Table", Model)
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal inmodal" id="ImportModal" data-backdrop="static" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content animated fadeIn">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <i class="fa fa-upload modal-icon"></i>
                    <h4 class="modal-title">@L("Import")</h4>
                </div>
                <div class="modal-body">
                    <input id="input" title="Excel" name="File" type="file" data-show-preview="false">
                    <br />
                    <p style="text-align:center;" class="text-muted">
                        Excel@(L("FollowStrictly"))<a href="~/file/会员导入模板.xls">@L("Import")@L("Template")</a>
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal">@L("Cancel")</button>
                    <button type="button" onclick="Save();" class="btn btn-primary">@L("OK")@L("Import")</button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal inmodal" id="pro" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content animated fadeIn">
                <div class="modal-header">

                    <h4 class="modal-title">@L("Loading")</h4>
                </div>
                <div class="modal-body">
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="00" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                            0%
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


</div>

<script src="~/lib/admin/js/plugins/chosen/chosen.jquery.js" asp-append-version="true"></script>
<script src="~/lib/fileinput/js/fileinput.js" asp-append-version="true"></script>
<script src="~/lib/fileinput/js/locales/zh.js" asp-append-version="true"></script>
<script src="~/js/jquery.unobtrusive.js" asp-append-version="true"></script>
<script src="~/lib/My97DatePicker/WdatePicker.js" asp-append-version="true"></script>
<script src="~/lib/admin/js/plugins/sweetalert/sweetalert.min.js" asp-append-version="true"></script>
<script>
    $(function () {


        $('.chosen-select').chosen({ width: "100%" });
        var language = $("#CurrentLanguage").attr("data-lan") == 'zh-Hans' ? 'zh' : 'es';
        $("#input").fileinput({
            language: language,
            showRemove: false,
            showUpload: false,
            allowedFileExtensions: ['xls', 'xlsx'],//接收的文件后缀
            showUploadedThumbs: false,
            uploadUrl: "/Member/Member/ImportExcel",
            showClose: false,
            showCancel: false,
            slugCallback: function (filename) {
                return filename.replace('(', '_').replace(']', '_');
            }
        });
        //上传成功后处理方法
        $("#input").on("fileuploaded", function (event, data, previewId, index) {
            if (data.response.result.succ) {
                toastr.options = {
                    "closeButton": false,//是否配置关闭按钮
                    "debug": false,//是否开启debug模式
                    "newestOnTop": false,//新消息是否排在最上层
                    "progressBar": true,//是否显示进度条
                    "timeOut": "2000",//1.5s后关闭消息框
                }
                toastr.success("@L("Import")@L("Success")", '@L("Hint")');
                $("#ImportModal").modal('hide');
                $("#searchForm").submit();
                if (data.response.result.msg !='Success') {
                    swal("@L("Hint")", data.response.result.msg, "error")
                }
            } else {
                swal("@L("Fail")！", data.response.result.msg, "error")
            }
        });
    });
    function Save() {
        if ($(".file-caption-name").val()=="") {
            return;
        }
        $("#input").fileinput("upload");
    }

    $("#ImportModal").on("hidden.bs.modal", function () {
        $('#input').fileinput('reset');
    });
    function Delete(btn) {
        var _Service = abp.services.app.member;
        var id = $(btn).attr("data-id");
        var name = $(btn).attr("data-name");
        swal({
            title: $(btn).attr("data-title"),
            text: '',
            type: 'question',
            showCancelButton: true,
            confirmButtonText: $(btn).attr("data-ok"),
            cancelButtonText: $(btn).attr("data-cancle")
        }).then(function (isConfirm) {
            if (isConfirm.value == true) {
                _Service.delete(id).done(function (data) {
                    if ($(".pagination .active a").html() != undefined) {
                        $(".pagination .active a").click();
                        toastr.options = {
                            "closeButton": false,//是否配置关闭按钮
                            "debug": false,//是否开启debug模式
                            "newestOnTop": false,//新消息是否排在最上层
                            "progressBar": true,//是否显示进度条
                            "timeOut": "2000",//1.5s后关闭消息框
                        }
                         toastr.success("@L("Delete")@L("Success")", '@L("Hint")');
                    } else { $("#searchForm").submit(); }
                });
            }
        });
    }
    function ExportExcel() {
        var url = "/member/member/exportexcel";
        url += "?Level=" + $("#Level").val() + "&Store=" + $("#Store").val() + "&Name=" + $("input[name='Name']").val();
        url += "&RegTimeFrom=" + $("input[name='RegTimeFrom']").val();
        url += "&RegTimeTo=" + $("input[name='RegTimeTo']").val();

        $("#pro").modal('show');
       GetStocket();
             //  location.href = url;
      }

    function GetStocket() {

            if ("WebSocket" in window) {

                // 打开一个 web socket
                var ws = new WebSocket("ws://localhost:62114/ws?type=member");
                ws.onopen = function () {
                    ws.send("发送数据");
                  //  alert("数据发送中...");
                }; ws.onmessage = function (evt) {
                    var received_msg = evt.data;
                    $(".progress").find("div").html(received_msg + "%");
                    $(".progress").find("div").css("width", received_msg + "%");
                    console.log("数据已接收:" + received_msg);
                };
                ws.onclose = function () {
                    // 关闭 websocket
                     console.log("连接已关闭...");
                };
            } else {
                // 浏览器不支持 WebSocket
                alert("您的浏览器不支持 WebSocket!");
            }
        }
</script>
