
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewBag.FirstMenu = "Member";
    ViewBag.SecondMenu = "MemberList";
}

@using System.Data
@using X.PagedList

@model PagedList<DataRow>
<style>
    .swal2-container {
        z-index: 10000;
    }
</style>
<link href="~/lib/admin/css/plugins/chosen/bootstrap-chosen.css" asp-append-version="true" rel="stylesheet" />
<link href="~/lib/fileinput/css/fileinput.min.css" rel="stylesheet" asp-append-version="true" />

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2></h2>
        <ol class="breadcrumb">
            <li>
                <a href="/">@L("HomePage")</a>
            </li>
            <li>
                <a>@L("Member")</a>
            </li>
            <li class="active">
                <strong>@L("MemberList")</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>@L("MemberList") </h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li>
                                <a href="#">10/@L("Pages")</a>
                            </li>
                            <li>
                                <a href="#">15/@L("Pages")</a>
                            </li>
                            <li>
                                <a href="#">20/@L("Pages")</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-sm-12">

                            @if (IsGranted("Member.MemberList.Add"))
                            {

                                <button onclick="location.href='/member/memberreg/index'" class="btn btn-primary btn-sm m-b" type="button">
                                    <i class="fa fa-plus"></i>&nbsp;@L("Add")
                                </button>

                            }
                            @if (IsGranted("Member.MemberList.Import"))
                            {

                                <button id="add" data-toggle="modal" data-target="#ImportModal" class="btn btn-primary btn-sm m-b" type="button">
                                    <i class="fa fa-arrow-up"></i>&nbsp;@L("Import")
                                </button>


                            }
                            @if (IsGranted("Member.MemberList.Export"))
                            {
                                <button id="add" class="btn btn-primary btn-sm m-b" type="button"><i class="fa fa-arrow-down"></i>&nbsp;@L("Export")</button>

                            }

                        </div>

                        <form id="searchForm" data-ajax="true" data-ajax-update="#table" action="/member/member/list" method="post">
                            <div class="col-sm-2">
                                @Html.DropDownList("Level", (SelectList)ViewData["Level"], L("Choose"), new { @class = "input-sm form-control chosen-select", @style = "padding: 3px 5px;" })
                            </div>
                            <div class="col-sm-2">
                                @Html.DropDownList("Business", (SelectList)ViewData["Business"], L("Choose"), new { @class = "input-sm form-control chosen-select", @style = "padding: 3px 5px;" })
                            </div>
                            <div class="col-sm-2">
                                @Html.DropDownList("Store", (SelectList)ViewData["ChainStore"], L("Choose"), new { @class = "input-sm form-control chosen-select", @style = "padding: 3px 5px;" })
                            </div>
                            <div class="col-sm-2">
                                <div class="input-group">
                                    <input type="text" name="Name" placeholder="@L("FullName")/@L("WeChat")@L("Name")" class="m-b input-sm form-control"> <span class="input-group-btn">
                                        <button type="submit" class="btn btn-sm btn-primary m-b">@L("Search")</button>
                                    </span>
                                </div>
                            </div>
                        </form>

                    </div>
                    <div id="table">
                        @Html.Partial("_Table", Model)
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal inmodal" id="ImportModal" data-backdrop="static" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content animated fadeIn">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <i class="fa fa-upload modal-icon"></i>
                    <h4 class="modal-title">@L("Import")</h4>
                </div>
                <div class="modal-body">
                    <input id="input" title="Excel" name="File" type="file" data-show-preview="false">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal">@L("Cancel")</button>
                    <button type="button" onclick="Save();" class="btn btn-primary">@L("OK")@L("Import")</button>
                </div>
            </div>
        </div>
    </div>

</div>

<script src="~/lib/admin/js/plugins/chosen/chosen.jquery.js" asp-append-version="true"></script>
<script src="~/lib/fileinput/js/fileinput.js" asp-append-version="true"></script>
<script src="~/lib/fileinput/js/locales/zh.js" asp-append-version="true"></script>
<script src="~/js/jquery.unobtrusive.js" asp-append-version="true"></script>
<script src="~/lib/admin/js/plugins/sweetalert/sweetalert.min.js" asp-append-version="true"></script>
<script>
    function EditShow(data) {
        $("#CreateModal").modal("show");
    }
    $(function () {
        $('.chosen-select').chosen({ width: "100%" });
        var language = $("#CurrentLanguage").attr("data-lan") == 'zh-Hans' ? 'zh' : 'es';
        $("#input").fileinput({
            language: language,
            showRemove: false,
            showUpload: false,
            allowedFileExtensions: ['xls', 'xlsx'],//接收的文件后缀
            showUploadedThumbs: false,
            uploadUrl: "/Member/Member/ExportExcel",
            showClose: false,
            showCancel: false,
            slugCallback: function (filename) {
                return filename.replace('(', '_').replace(']', '_');
            }
        });

        //选择文件后处理事件
        $("#input").on("filebatchselected", function (event, files) {
            //执行文件上传方法

        });
        //上传成功后处理方法
        $("#input").on("fileuploaded", function (event, data, previewId, index) {
            //var url = data.response.result.url;

            if (data.response.result.succ) {

                toastr.options = {
                    "closeButton": false,//是否配置关闭按钮
                    "debug": false,//是否开启debug模式
                    "newestOnTop": false,//新消息是否排在最上层
                    "progressBar": true,//是否显示进度条
                    "timeOut": "2000",//1.5s后关闭消息框
                }
                toastr.success("@L("Import")@L("Success")", '@L("Hint")');
                $("#ImportModal").modal('hide');
                $("#searchForm").submit();
            } else {
                swal("@L("Fail")！", data.response.result.msg, "error")
            }
        });
    });
    function Save() {
        if ($(".file-caption-name").val()=="") {
            return;
        }
        $("#input").fileinput("upload");
    }

    $("#ImportModal").on("hidden.bs.modal", function () {
        $('#input').fileinput('reset');
    });
</script>