@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.FirstMenu = "FundSettle";
    ViewBag.SecondMenu = "AllSettleSet";

    DataTable dt = ViewData["cat"] as DataTable;
}
@using System.Data
@using X.PagedList
@*@model PagedList<DataRow>*@
<link href="~/lib/admin/css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" asp-append-version="true" rel="stylesheet" />
<link href="~/lib/bootstrap3-editable/css/bootstrap-editable.css" asp-append-version="true" rel="stylesheet" />
@*<script src="/lib/admin/js/bootstrap.min.js" asp-append-version="true"></script>*@
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2></h2>
        <ol class="breadcrumb">
            <li>
                <a href="/">@L("HomePage")</a>
            </li>
            <li>
                <a>@L("FundSettle")</a>
            </li>
            <li class="active">
                <strong>@L("AllSettleSet")</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="contact-box">
                <form action="/SystemManage/PayParameter/SaveParameter" class="form-horizontal" id="formReg" method="post">

                    <div class="row">
                        <div class="form-group">
                            <label class="control-label col-sm-3">@L("Integral")@L("Price")</label>
                            <div class="col-sm-3">
                                <div class="input-group">
                                    <input type="text" name="PointPayPrice" class="form-control" value="@ViewData["PointPayPrice"]" />
                                    <span class="input-group-addon">=1@(L("Yuan"))</span>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <span class="help-Block"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label class="control-label col-sm-3">@L("Coupon")@L("Pay")</label>
                            <div class="col-sm-3">
                                <div>
                                    <div class="radio radio-inline radio-success">
                                        <input type="radio" id="cp" value="true" @(ViewData["CouponPaidForSettlement"].ToString().ToUpper() == "TRUE" ? "checked" : "") name="CouponPaidForSettlement">
                                        <label for="cp">@L("Settlement")</label>
                                    </div>
                                    <div class="radio radio-inline radio-success">
                                        <input type="radio" id="ucp" value="false" name="CouponPaidForSettlement" @(ViewData["CouponPaidForSettlement"].ToString().ToUpper() == "FALSE" ? "checked" : "")>
                                        <label for="ucp">@L("No")@L("Settlement")</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group">
                            <label class="control-label col-sm-3">@L("Integral")@L("Pay")</label>
                            <div class="col-sm-3">
                                <div>
                                    <div class="radio radio-inline radio-success">
                                        <input type="radio" id="in" value="true" @(ViewData["PointPaidForSettlement"].ToString().ToUpper() == "TRUE" ? "checked" : "") name="PointPaidForSettlement">
                                        <label for="in">@L("Settlement")</label>
                                    </div>
                                    <div class="radio radio-inline radio-success">
                                        <input type="radio" id="uin" value="false" name="PointPaidForSettlement" @(ViewData["PointPaidForSettlement"].ToString().ToUpper() == "FALSE" ? "checked" : "")>
                                        <label for="uin">@L("No")@L("Settlement")</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="hr-line-dashed"></div>
                <div class="form-actions">
                    <div class="row">
                        <div class="col-md-offset-4 col-sm-4">
                            <input id="btnSave" type="button" value="@L("Save")" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <div class="contact-box">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>@L("Dtb")@L("Level")</th>
                            <th>@L("Cmn")@L("Set")</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@L("OneLevel")@L("Dtb")</td>
                            <td>
                                <a href="#" class="editable" data-type="text" data-pk="FirstDistributor"
                                   data-url="/Settlement/Global/SaveGlobal" data-title="@L("OneLevel")@L("Dtb")">@ViewBag.Global.FirstDistributor.ToString("0.##")</a>%
                            </td>
                        </tr>
                        <tr>
                            <td>@L("TwoLevel")@L("Dtb")</td>
                            <td>
                                <a href="#" class="editable" data-type="text" data-pk="SecondDistributor"
                                   data-url="/Settlement/Global/SaveGlobal" data-title="@L("TwoLevel")@L("Dtb")">@ViewBag.Global.SecondDistributor.ToString("0.##")</a>%
                            </td>
                        </tr>
                        <tr>
                            <td>@L("ThreeLevel")@L("Dtb")</td>
                            <td>
                                <a href="#" class="editable" data-type="text" data-pk="ThirdDistributor"
                                   data-url="/Settlement/Global/SaveGlobal" data-title="@L("ThreeLevel")@L("Dtb")">@ViewBag.Global.ThirdDistributor.ToString("0.##")</a>%
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="contact-box">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>@L("SetRec")@L("Level")</th>
                            <th>@L("Cmn")@L("Set")</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@L("OneLevel")@L("SetRec")</td>
                            <td>
                                <a href="#" class="editable" data-type="text" data-pk="FirstDistributor"
                                   data-url="/Settlement/Global/SaveGlobal" data-title="@L("OneLevel")@L("SetRec")">@ViewBag.Global.FirstDistributor.ToString("0.##")</a>%
                            </td>
                        </tr>
                        <tr>
                            <td>@L("TwoLevel")@L("SetRec")</td>
                            <td>
                                <a href="#" class="editable" data-type="text" data-pk="SecondDistributor"
                                   data-url="/Settlement/Global/SaveGlobal" data-title="@L("TwoLevel")@L("SetRec")">@ViewBag.Global.SecondDistributor.ToString("0.##")</a>%
                            </td>
                        </tr>
                        <tr>
                            <td>@L("ThreeLevel")@L("SetRec")</td>
                            <td>
                                <a href="#" class="editable" data-type="text" data-pk="ThirdDistributor"
                                   data-url="/Settlement/Global/SaveGlobal" data-title="@L("TwoLevel")@L("SetRec")">@ViewBag.Global.ThirdDistributor.ToString("0.##")</a>%
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="contact-box">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>@L("Agent")@L("Level")</th>
                            <th>@L("Cmn")@L("Set")</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@L("OneLevel")@L("Agent")</td>
                            <td>
                                <a href="#" class="editable" data-type="text" data-pk="FirstAgent"
                                   data-url="/Settlement/Global/SaveGlobal" data-title="@L("OneLevel")@L("Agent")">@ViewBag.Global.FirstAgent.ToString("0.##")</a>%
                            </td>
                        </tr>
                        <tr>
                            <td>@L("TwoLevel")@L("Agent")</td>
                            <td>
                                <a href="#" class="editable" data-type="text" data-pk="SecondAgent"
                                   data-url="/Settlement/Global/SaveGlobal" data-title="@L("TwoLevel")@L("Agent")">@ViewBag.Global.SecondAgent.ToString("0.##")</a>%
                            </td>
                        </tr>
                        <tr>
                            <td>@L("ThreeLevel")@L("Agent")</td>
                            <td>
                                <a href="#" class="editable" data-type="text" data-pk="ThirdAgent"
                                   data-url="/Settlement/Global/SaveGlobal" data-title="@L("ThreeLevel")@L("Agent")">@ViewBag.Global.ThirdAgent.ToString("0.##")</a>%
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    @if (dt != null && dt.Rows.Count > 0)
    {
        <div class="row">
            <div class="col-lg-12">
                <div class="contact-box">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                @foreach (DataRow item in dt.Rows)
                                {
                                    <th>@item["title"]</th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                @foreach (DataRow item in dt.Rows)
                                {
                                    <td title="@L("Edit")">
                                        <a href="#" class="editable" data-type="text" data-pk="@item["id"]" data-url="/Settlement/Global/Save" data-title="@item["title"]">@item["profit"]</a>%
                                    </td>
                                }
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    }

</div>

<script>
    $(function () {
        $.getScript('/lib/bootstrap3-editable/js/bootstrap-editable.min.js', function () {
            $('.editable').editable({
                placement: 'right',
                validate: function (value) { //字段验证
                    if (!$.trim(value)) {
                        return ' ';
                    }
                    var regPos = /^\d+(\.\d+)?$/; //非负浮点数
                    if (!regPos.test(value)) {
                        return ' ';
                    }
                },
                success: function (response, newValue) {
                    if (response.status == 'error') return response.msg; //msg will be shown in editable form
                    SuccessTip();
                }
            });
        });

	var _Service = abp.services.app.parameter;
	$("#btnSave").on("click",
	function(e) {
		e.preventDefault();
		$("#formReg").find("input[type='text'],input[type='radio']:checked").each(function() {
			if ($(this).attr("name") != "" && $(this).attr("name") != undefined) {
				_Service.saveParameterValue($(this).attr("name"), $(this).val()).done(function(data) {}).fail(function(data) {}).always(function(data) {});
			}

		});
		SuccessTip();

	});
});
    function SuccessTip()
    {
                     toastr.options = {
                "closeButton": false,//是否配置关闭按钮
                "debug": false,//是否开启debug模式
                "newestOnTop": false,//新消息是否排在最上层
                "progressBar": true,//是否显示进度条
                "timeOut": "2000",//1.5s后关闭消息框
            }
            toastr.success('@L("Save")@L("Success")', '@L("Hint")');
    }
</script>
