
@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewBag.FirstMenu = "UnionMember";
    ViewBag.SecondMenu = "MemberRegister";
}
@using UnionMall.Entity;
@using UnionMall.Enum;
@using UnionMall.Member.Dto;
@model RegDto
<link href="~/lib/admin/css/plugins/chosen/bootstrap-chosen.css" asp-append-version="true" rel="stylesheet" />
<link href="~/lib/admin/css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" asp-append-version="true" rel="stylesheet" />
<script src="~/lib/jquery-validation/dist/jquery.validate.js" asp-append-version="true"></script>
<script src="~/lib/admin/js/plugins/chosen/chosen.jquery.js" asp-append-version="true"></script>
<script>
    language = $("#CurrentLanguage").attr("data-lan");
    if (language == "zh-Hans") {
        $.getScript('http://static.runoob.com/assets/jquery-validation-1.14.0/dist/localization/messages_zh.js', function () {
        });
    }
</script>
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2></h2>
        <ol class="breadcrumb">
            <li>
                <a href="/">@L("HomePage")</a>
            </li>
            <li>
                <a>@L("Member")</a>
            </li>
            <li class="active">
                <strong>@L("MemberRegister")</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">


            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>@L("MemberRegister")</h5>

                </div>
                <div class="ibox-content">
                    <form class="form-horizontal" id="memberReg">
                        <div class="col-sm-5">
                            <div class="form-group">
                                <label class="col-lg-2 control-label">@L("FullName")</label>
                                <div class="col-lg-6">
                                    <input type="text" placeholder="" name="FullName" class="form-control input-sm" required minlength="2" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-2 control-label">@L("PhoneNumber")</label>

                                <div class="col-lg-6"><input type="number" name="Mobile" placeholder="" required maxlength="11" class="form-control"></div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-2 control-label">@L("CardID")</label>

                                <div class="col-lg-6"><input type="number" name="CardID" placeholder="" required class="form-control"></div>
                            </div>

                            <div class="form-group">
                                <label class="col-lg-2 control-label">@L("Password")</label>

                                <div class="col-lg-6">
                                    <input id="Password" name="PassWord" type="password" placeholder="" required maxlength="32" class="form-control">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-lg-2 control-label">@L("Referrer")@L("CardID")</label>
                                <div class="col-lg-6">
                                    <input type="text" placeholder="" name="ReferrerID" class="form-control input-sm" />
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-5">
                            <div class="form-group">
                                <label class="col-lg-2 control-label">@L("MemberLevel")</label>
                                <div class="col-lg-6">
                                    <select class="input-sm form-control chosen-select" id="LevelId" name="LevelId" required>
                                        <option value="">-@L("Choose")-</option>
                                        @foreach (var item in ViewBag.Level)
                                        {
                                            <option value="@item.Id">@item.Title</option>

                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-2 control-label">@L("Email")</label>

                                <div class="col-lg-6"><input type="email" placeholder="" class="form-control"></div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-2 control-label">@L("Sex")</label>

                                <div class="col-lg-6">
                                    <div class="radio radio-inline radio-success">
                                        <input type="radio" id="Male" value="@((int)Sex.Male)" name="Sex" @((Model == null ? 0 : Model.Sex) == (int)Sex.Male ? "checked" : "") />
                                        <label for="Male">@L("Male")</label>
                                    </div>
                                    <div class="radio radio-inline radio-success">
                                        <input type="radio" id="Female" value="@((int)Sex.Female)" name="Sex" @((Model == null ? 0 : Model.Sex) == (int)Sex.Female ? "checked" : "") />
                                        <label for="Female">@L("Female")</label>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-lg-2 control-label">@L("OK")@L("Password")</label>

                                <div class="col-lg-6">
                                    <input type="password" name="PassWord" placeholder="" class="form-control" required equalTo="#Password" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-2 control-label">@L("Referrer")@L("FullName")</label>
                                <div class="col-lg-6">
                                    <input type="text" placeholder="" class="form-control input-sm" />
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-8 col-sm-offset-4">
                                <button class="btn btn-sm btn-primary " type="submit">@L("Submit")@L("Save")</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
<script src="~/lib/admin/js/plugins/sweetalert/sweetalert.min.js" asp-append-version="true"></script>
<script>
    $(function () {

        $("#memberReg").validate({

            submitHandler: function (form) {
                var dto = $("#memberReg").serializeFormToObject();
                var _Service = abp.services.app.member;

                _Service.submitReg(dto).done(function (data) {

                    if (data.succ) {
                        document.getElementById("memberReg").reset();

                             toastr.options = {
              "closeButton": true,//是否配置关闭按钮
              "newestOnTop": false,//新消息是否排在最上层
              "progressBar": true,//是否显示进度条
              "timeOut": "2000",//1.5s后关闭消息框
             }
         toastr.success('@L("Save")@L("Success")','@L("Hint")');
                    } else {
                        swal(data.msg, '', 'error');
                    }
                }).fail(function (data) {
                }).always(function (data) { });
            }
        });
        $('.chosen-select').chosen({ width: "100%" });
    });

</script>