
@{
    ViewData["Title"] = "_Add";
    Layout = null;
    List<DropDownDto> list = ViewBag.Category;
    List<BrandSelectDto> brandDtoList = ViewData["brand"] as List<BrandSelectDto>;
}
@using System.Data
@using UnionMall.Goods.GoodsCategory.Dto
@using UnionMall.Goods.Brand.Dto
@model CategoryEditDto
<div class="modal inmodal fade in" id="CreateModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h5 id="headTitle" class="modal-title">@(Model.Id <= 0 ? L("Add") : Model.Title + "-")@L("GoodsCategory")</h5>
            </div>
            <div class="modal-body">

                <div class="ibox float-e-margins">
                    <div class="ibox-content">
                        <form method="post" id="formPost" class="form-horizontal">
                            <input type="hidden" name="Id" value="@Model.Id" />
                            <input type="hidden" name="TenantId" value="@Model.TenantId" />
                            <div class="form-group">
                                <label class="col-sm-2 control-label">@L("Title")</label>
                                <div class="col-sm-9"><input type="text" name="Title" value="@Model.Title" class="form-control" required maxlength="10"></div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">@L("Parent")</label>
                                <div class="col-sm-9">
                                    @Html.DropDownListFor(c => c.ParentId, (SelectList)ViewData["cat"], L("Choose"), new { @class = "form-control chosen-select" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">@L("Brand")</label>
                                <div class="col-sm-9">
                                    <select style="height:150px;" multiple="multiple" name="Brand" id="duallist">
                                        @if (brandDtoList != null && brandDtoList.Count > 0)
                                        {
                                            foreach (BrandSelectDto item in brandDtoList)
                                            {
                                                if (Model.Brand.Split(',').FirstOrDefault(c => c == item.Id.ToString()) != null)
                                                {
                                                    <option selected="selected" value="@item.Id">@item.Title</option>

                                                }
                                                else
                                                {
                                                    <option value="@item.Id"> @item.Title</option>
                                                }
                                            }

                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">@L("Sort")</label>
                                <div class="col-sm-9">
                                    <input type="number" name="Sort" value="@Model.Sort" class="form-control" required>
                                    <span class="help-block m-b-none">@L("SortTip")</span>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">@L("Note")</label>

                                <div class="col-sm-9">
                                    <textarea name="Note" class="form-control" cols="5">@Model.Note</textarea>
                                </div>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
                                <button id="Save" type="submit" class="btn btn-primary">提交保存</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
<script>
    $('.chosen-select').chosen({ width: "100%" });

    $(function () {
        var demo1 = $('select[name="Brand"]').bootstrapDualListbox({
            filterPlaceHolder: '',
            infoTextEmpty: '',
            filterTextClear: '',
            infoText: '{0}@L("Brand")',
            infoTextFiltered: '',
            nonSelectedListLabel: '@L("Selectable")',
            selectedListLabel:  '@L("Selected")'
        });
    });

</script>
<script src="~/view-resources/Areas/GoodsManage/category_list.js"></script>