
@{

    Layout = null;
}
@using System.Data
@using X.PagedList
@using X.PagedList.Mvc.Core
@model PagedList<DataRow>

<table class="table table-bordered table-hover footable  table-stripped toggle-arrow-tiny default breakpoint footable-loaded">
    <thead>
        <tr>
            <th>@L("Title")</th>
            <th>@L("Parent")</th>
            <th>@L("Sort")</th>
            <th>@L("Note")</th>
            <th>@L("Operate")</th>
        </tr>
    </thead>
    <tbody>
        @foreach (DataRow item in Model)
        {
            <tr class="footable-even">
                <td><span class="footable-toggle"></span>@item["Title"]</td>
                <td>@item["ParentId"]</td>
                <td>@item["Sort"]</td>
                <td>@item["Note"]</td>
                <td>
                    <a href="#"><i class="fa fa-check text-navy"></i></a>
                </td>
            </tr>
        }

    </tbody>
</table>

@Html.PagedListPager(Model, page => Url.Action("Table", new { page }),
    PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(
        new PagedListRenderOptions {
            MaximumPageNumbersToDisplay = 10,
            DisplayPageCountAndCurrentLocation = true,
            LinkToFirstPageFormat = L("FirstPage"),
            LinkToLastPageFormat = L("LastPage"),
            LinkToNextPageFormat = L("NextPage"),
            PageCountAndCurrentLocationFormat = L("{1}pages{2}Records"),
            LinkToPreviousPageFormat = L("PreviousPage"),
            UlElementClasses = new[] { "pagination col-md-8" },
            ContainerDivClasses = new[] { "row" } },


        new AjaxOptions()
        {
            DataForm = "searchForm",
            LoadingElementDuration = 2,
            LoadingElementId = "loading",
            HttpMethod = "GET",
            UpdateTargetId = "table"
        }
))