
@{

    Layout = null;
}
@using System.Data
@using X.PagedList
@using X.PagedList.Mvc.Core
@model PagedList<DataRow>
@*@if (IsGranted(""))
    {

    }*@
<table id="tree_table" class="table table-bordered table-hover footable">
    <thead>
        <tr>
            <th>@L("Title")</th>
            <th>@L("Sort")</th>
            <th>@L("Note")</th>
            <th>@L("Operate")</th>
        </tr>
    </thead>
    <tbody>
        @foreach (DataRow item in Model.Where(c => c["ParentId"].ToString() == "0"))
        {
            <tr class="footable-even" id="tr@(item["id"])" data-hasChild="true" data-tt-id="@item["id"]">
                <td onclick="trClick('@item["id"]');" class="foo" data-tt-branch><span class="footable-toggle"></span>@item["Title"]</td>
                <td>@item["Sort"]</td>
                <td>@item["Note"]</td>
                <td>
                    <a class="btn btn-outline btn-primary btn-xs" data-ajax="true" data-ajax-method="GET"
                       data-ajax-mode="Replace" data-ajax-update="#DivAdd" data-ajax-success="EditShow"
                       href="/GoodsManage/Category/Add/@item["id"]">编辑</a>
                    &nbsp;&nbsp;
                    <button type="button" class="btn btn-outline btn-danger btn-xs">删除</button>
                </td>
            </tr>

        }

    </tbody>
</table>

@Html.PagedListPager(Model, page => Url.Action("Table", new { page }),
    PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(
        new PagedListRenderOptions {
            MaximumPageNumbersToDisplay = 10,
            DisplayPageCountAndCurrentLocation = true,
            LinkToFirstPageFormat = L("FirstPage"),
            LinkToLastPageFormat = L("LastPage"),
            LinkToNextPageFormat = L("NextPage"),
            PageCountAndCurrentLocationFormat = L("{1}pages{2}Records"),
            LinkToPreviousPageFormat = L("PreviousPage"),
            UlElementClasses = new[] { "pagination col-md-8" },
            ContainerDivClasses = new[] { "row" } },


        new AjaxOptions()
        {
            DataForm = "searchForm",
            LoadingElementDuration = 2,
            LoadingElementId = "loading",
            HttpMethod = "GET",
            UpdateTargetId = "table"
        }
))
<script>
    $(function () {
        $("#tree_table").treetable({
            expandable: true,
            clickableNodeNames: true,
            stringExpand: '点击展开',
            indent: 15,
        });
    });

    function trClick(id) {
        var childSize = $("#treetable").find("[data-tt-parent-id='tr" + id + "']").length;
        if (childSize > 0) { return; }

        $.post("/GoodsManage/Category/GetChildCategory", { parentId:id }, function (data) {

            //  console.log(data.result.data[0].title);
            for (var i = 0; i < data.result.data.length; i++) {
                var h = " <tr class='footable-even branch collapsed' id='tr" + data.result.data[i].id + "' data-hasChild='true' data-tt-parent-id='tr" +id + "'>\
                <td class='foo' data-tt-branch><span class='footable-toggle'></span>"+ data.result.data[i].title + "</td>\
                <td>"+ data.result.data[i].sort + "</td>\
                <td>"+ data.result.data[i].note + "</td>\
                <td>\
                    <a class='btn btn-outline btn-primary btn-xs' data-ajax='true' data-ajax-method='GET'\
                       data-ajax-mode='Replace' data-ajax-update='#DivAdd' data-ajax-success='EditShow'\
                       href='/GoodsManage/Category/Add/"+ data.result.data[i].id + "'>编辑</a>\
                    &nbsp;&nbsp;\
                    <button type='button' class='btn btn-outline btn-danger btn-xs'>删除</button>\
                </td>\
            </tr>";
                $("#tr" + id).after(h);
            }
            $("#tree_table").treetable({
                expandable: true,
                clickableNodeNames: true,
                stringExpand: '点击展开',
                indent: 15,
            });
        });
    }
</script>