
@{

    Layout = null;
}
@using System.Data
@using X.PagedList
@using X.PagedList.Mvc.Core
@model PagedList<DataRow>

<table id="tree_table" class="table table-bordered table-hover footable">
    <thead>
        <tr>
            <th>@L("Title")</th>
            <th>@L("Sort")</th>
            <th>@L("Note")</th>
            <th>@L("Operate")</th>
        </tr>
    </thead>
    <tbody>
        @foreach (DataRow item in Model)
        {
            <tr class="footable-even" id="first@(item["id"])" data-hasChild="true" data-tt-id="@item["id"]">
                <td class="foo" data-tt-branch><span class="footable-toggle"></span>@item["Title"]</td>
                <td>@item["Sort"]</td>
                <td>@item["Note"]</td>
                <td>
                    @*@if (IsGranted(""))
        {

        }*@
                    <a class="btn btn-outline btn-primary btn-xs" data-ajax="true" data-ajax-method="GET" 
                       data-ajax-mode="Replace" data-ajax-update="#DivAdd" data-ajax-success="EditShow"
                       href="/GoodsManage/Category/Add/@item["id"]">编辑</a>
                    &nbsp;&nbsp;
                    <button type="button" class="btn btn-outline btn-danger btn-xs">删除</button>
                </td>
            </tr>
        }

    </tbody>
</table>

@Html.PagedListPager(Model, page => Url.Action("Table", new { page }),
    PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(
        new PagedListRenderOptions {
            MaximumPageNumbersToDisplay = 10,
            DisplayPageCountAndCurrentLocation = true,
            LinkToFirstPageFormat = L("FirstPage"),
            LinkToLastPageFormat = L("LastPage"),
            LinkToNextPageFormat = L("NextPage"),
            PageCountAndCurrentLocationFormat = L("{1}pages{2}Records"),
            LinkToPreviousPageFormat = L("PreviousPage"),
            UlElementClasses = new[] { "pagination col-md-8" },
            ContainerDivClasses = new[] { "row" } },


        new AjaxOptions()
        {
            DataForm = "searchForm",
            LoadingElementDuration = 2,
            LoadingElementId = "loading",
            HttpMethod = "GET",
            UpdateTargetId = "table"
        }
))
<script>
$(function() {
        $("#tree_table").treetable({
            expandable: true,
            clickableNodeNames: true,
            stringExpand: '点击展开',
            indent: 15,
            onNodeExpand: function () {
                var node = this;
                //判断当前节点是否已经拥有子节点
           
                var childSize = $("#treetable").find("[data-tt-parent-id='" + node.id + "']").length;
                if (childSize > 0) { return; }
                var data = "pageId=" + node.id;
               // alert(node.id);
                // Render loader/spinner while loading 加载时渲染
            }
        });
    });
</script>