@{

    Layout = null;
}
@using System.Data
@using X.PagedList
@using X.PagedList.Mvc.Core
@model PagedList<DataRow>
<style>
    #pic {
        position: fixed;
        display: none;
        z-index: 10;
    }
</style>
<table class="table table-bordered table-hover footable">
    <thead>
        <tr>
            <th>@L("Title")</th>
            <th>Logo</th>
            <th>@L("Link")</th>
            <th>@L("Sort")</th>
            <th>@L("Note")</th>
            <th>@L("Operate")</th>
        </tr>
    </thead>
    <tbody>
        @foreach (DataRow item in Model)
        {
            <tr>
                <td class="title">@item["Title"]</td>
                <td class="img"><img style="height:15px;" src="@item["Logo"]" onerror="this.src='/img/nopic.png'" />  </td>
                <td><a href="@item["Url"]" target="_blank">@item["Url"]</a></td>
                <td>@item["Sort"]</td>
                <td>@item["Note"]</td>
                <td>
                    <a data-id="@item["id"]" onclick="Delete(this);" title="@L("Delete")"  href="javascript:void(0);">
                        <i class="fa fa-trash text-navy"></i>
                    </a>    &nbsp;&nbsp;
                    <a title="@L("Edit")" data-ajax="true" data-ajax-method="GET"
                       data-ajax-mode="Replace" data-ajax-update="#DivAdd" data-ajax-success="EditShow" href="/GoodsManage/Brand/Add/@item["id"]"><i class="fa fa-edit text-navy"></i></a>
                </td>

            </tr>
        }
    </tbody>
</table>

@Html.PagedListPager(Model, page => Url.Action("List", new { page }),
    PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(
        new PagedListRenderOptions {
            MaximumPageNumbersToDisplay = 10,
            DisplayPageCountAndCurrentLocation = true,
            LinkToFirstPageFormat = L("FirstPage"),
            LinkToLastPageFormat = L("LastPage"),
            LinkToNextPageFormat = L("NextPage"),
            PageCountAndCurrentLocationFormat = L("{1}pages{2}Records"),
            LinkToPreviousPageFormat = L("PreviousPage"),
            UlElementClasses = new[] { "pagination col-md-8" },
            ContainerDivClasses = new[] { "row" } },
        new AjaxOptions()
        {
            DataForm = "searchForm",
            HttpMethod = "GET",
            UpdateTargetId = "table"
        }
))
<script>
    $(".img").hover(function () {
        $(this).append("<img src='" + $(this).find("img").attr("src") + "' id='pic'/>");
        $(".img").mousemove(function (e) {
            var h = window.screen.height;
            var showY = e.pageY;
            if (e.pageY + $("#pic").height() + 100 >= h) {
                showY = h - $("#pic").height() - 200;
            }
            $("#pic").css({
                "top": (showY),
                "left": (e.pageX + 15)
            }).fadeIn("fast");

        });
    }, function () {
        $("#pic").remove();
    });

    var txt = $("input[name='Title']").val().trim();
    if (txt.length > 0) {
        $(".title").each(function () {
            var newTxt = $(this).html().replace(txt, txt.fontcolor("red"));
            $(this).html(newTxt);
        });
    }
</script>