
@{
    ViewData["Title"] = "_Add";
    Layout = null;
    SelectList list = ViewData["Category"] as SelectList;
}
@using System.Data
@using UnionMall.Common.Dto
@model CreateOrEdit
<div class="modal inmodal fade in" id="Modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h5 id="headTitle" class="modal-title"></h5>
            </div>
            <div class="modal-body">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">
                        <form method="post" id="AddPost" class="form-horizontal">
                            <input type="hidden" name="Id" value="@(Model.Spec!=null?Model.Spec.Id:0)" />
                            <div class="form-group">
                                <label class="col-sm-2 control-label">@L("Name")</label>
                                <div class="col-sm-9"><input type="text" name="Name" value="@(Model.Spec!=null?Model.Spec.Name:"")" class="form-control" required></div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">@L("SpecValue")</label>
                                <div class="col-sm-9">
                                    <div class="input-group">
                                        <input type="text" name="Text" value="" class="form-control">
                                        <span class="input-group-btn">
                                            <button type="button" id="setValue" onclick="SetValue();" class="btn btn-primary">  <i class="fa fa-plus"></i></button>
                                        </span>
                                    </div>

                                </div>

                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label"></label>
                                <div class="col-sm-9">
                                    <ul class="tag-list" id="ul_li" style="padding: 0">
                                        @Html.Raw(ViewBag.Spec)
                                        @*<li>
                                                <a href="">家庭</a>
                                                <button type="button" class="close">
                                                    <span aria-hidden="true">×</span><span class="sr-only">Close</span>
                                                </button>
                                            </li>
                                            <li><a href="">工作</a></li>
                                            <li><a href="">家庭</a></li>
                                            <li><a href="">孩子</a></li>
                                            <li><a href="">假期</a></li>
                                            <li><a href="">音乐</a></li>
                                            <li><a href="">摄影</a></li>
                                            <li><a href="">电影</a></li>*@
                                    </ul>
                                </div>
                            </div>

                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">@L("Note")</label>
                                <div class="col-sm-9">
                                    <textarea name="Memo" id="Memo" class="form-control" cols="5">@(Model.Spec!=null? Model.Spec.Memo:"")</textarea>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-white" data-dismiss="modal">@L("Cancel")</button>
                                <button id="Save" type="button" class="btn btn-primary">@L("Save")</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

    $("#Save").on("click", function (e) {
        Save(e);
    });
</script>