
@{
    Layout = null;
}
@using X.PagedList
@using System.Data
@using X.PagedList.Mvc.Core
@model PagedList<DataRow>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>@L("Name")</th>
            <th>@L("Selectable")</th>
            <th>@L("Operate")</th>
        </tr>

    </thead>
    <tbody>
        @foreach (DataRow item in Model)
        {
        <tr>
            <td class="name">@item["Name"]</td>
            <td>@item["VName"]</td>

            <td>
                @if (IsGranted("OnlineGoods.GoodsSpec.Edit"))
                {
                    @*<a title="@L("Edite")" onclick="Edit('@item["id"]','@item["Name"]','@item["Memo"]');">
                        <i class="fa fa-edit text-navy"></i>
                    </a>*@
                    <a data-ajax="true" data-ajax-method="GET"
                       data-ajax-mode="Replace" data-ajax-update="#DivAdd" data-ajax-success="Edit"
                       href="/goodsmanage/goodsspec/add/@item["id"]"><i class="fa fa-edit text-navy"></i></a>
                }
                &nbsp; &nbsp;
                @if (IsGranted("OnlineGoods.GoodsSpec.Delete"))
                {
                    <a style="margin-left:20px;" data-msg="@L("Delete")@L("Success")" data-title="@L("DeleteConfirm{0}",item["Name"])" data-ok="@L("OK")"
                       data-cancle="@L("Cancel")" data-id="@item["id"]" onclick="Delete(this);" title="@L("Delete")" href="javascript:void(0);">
                        <i class="fa fa-trash text-navy"></i>
                    </a>
                }
            </td>
        </tr>
        }

    </tbody>
</table>

@Html.PagedListPager(Model, page => Url.Action("List", new { page }),
PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(
new PagedListRenderOptions {
MaximumPageNumbersToDisplay = 10,
DisplayPageCountAndCurrentLocation = true,
LinkToFirstPageFormat = L("FirstPage"),
LinkToLastPageFormat = L("LastPage"),
LinkToNextPageFormat = L("NextPage"),
PageCountAndCurrentLocationFormat = L("{1}pages{2}Records"),
LinkToPreviousPageFormat = L("PreviousPage"),
UlElementClasses = new[] { "pagination col-md-8" },
ContainerDivClasses = new[] { "row" } },
new AjaxOptions()
{
DataForm = "searchForm",
HttpMethod = "GET",
UpdateTargetId = "table"
}
))

<script>
    var txt = $("input[name='name']").val().trim();
    if (txt.length > 0) {
        $(".name").each(function () {
            var newTxt = $(this).html().replace(txt, txt.fontcolor("red"));
            $(this).html(newTxt);
        });
    }
    $("input[name='pageSize']").val(@ViewBag.PageSize);

</script>
