
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewBag.FirstMenu = "OnlineGoods";
    ViewBag.SecondMenu = "GoodsSpec";
}
@using System.Data
@using X.PagedList
@using UnionMall.Common.Dto
@model PagedList<DataRow>
<style>
    .tag-list a {
        cursor: default;
    }

    .tag-list li {
        position: relative;
        margin-left: 10px;
    }

    .tag-list .close {
        position: absolute;
        top: -5px;
        right: -5px;
    }
</style>
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2></h2>
        <ol class="breadcrumb">
            <li>
                <a href="/">@L("HomePage")</a>
            </li>
            <li>
                <a>@L("OnlineGoods")</a>
            </li>
            <li class="active">
                <strong>@L("GoodsSpec")</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>@L("GoodsSpec") </h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li>
                                <a data-ajax="true" data-ajax-form="searchForm" data-ajax-method="GET" data-ajax-mode="Replace"
                                   data-ajax-update="#table" href="/goodsmanage/goodsspec/list?pageSize=10">10/@L("Page")</a>
                            </li>
                            <li>
                                <a data-ajax="true" data-ajax-form="searchForm" data-ajax-method="GET" data-ajax-mode="Replace"
                                   data-ajax-update="#table" href="/goodsmanage/goodsspec/list?pageSize=15">15/@L("Page")</a>
                            </li>
                            <li>
                                <a data-ajax="true" data-ajax-form="searchForm" data-ajax-method="GET" data-ajax-mode="Replace"
                                   data-ajax-update="#table" href="/goodsmanage/goodsspec/list?pageSize=20">20/@L("Page")</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-sm-12">
                            <form class="form-inline" id="searchForm" data-ajax="true" data-ajax-update="#table" action="/goodsmanage/goodsspec/list" method="post">
                                <input type="hidden" name="pageSize" value="10" />
                                <div class="form-group">
                                    @if (IsGranted("OnlineGoods.GoodsAttr.Add"))
                                    {
                                        <button id="add" style="margin-right:20%;" class="btn btn-primary btn-sm m-b" type="button">
                                            <i class="fa fa-plus"></i>&nbsp;@L("Add")
                                        </button>
                                    }
                                </div>
                                <div class="form-group">
                                    <input type="text" name="name" placeholder="@L("Name")" class="m-b input-sm form-control">
                                </div>

                                <div class="form-group">
                                    <button type="submit" class="btn btn-sm btn-primary m-b">@L("Search")</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div id="table">
                        @Html.Partial("_Table", Model)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="DivAdd">
    @Html.Partial("_Add", new CreateOrEdit())
</div>
<script src="~/js/jquery.unobtrusive.js" asp-append-version="true"></script>
<script src="~/lib/admin/js/plugins/sweetalert/sweetalert.min.js" asp-append-version="true"></script>
<script>
    $(function () {
        var _Service = abp.services.app.commonSpec;
        $("#add").click(function () {
            $("#Modal").modal('show');
        });
        $('#Modal').on('hidden.bs.modal', function (e) {
            // do something...
            $(".modal-title").html('');
            $("#Memo").val('');
            $("input[name='Id']").val(0);
            $("input[name='Name']").val("");
        });
    });
    var Save = function (e) {
        if ($("input[name='Name']").val().trim() == "") {
            $("input[name='Name']").focus();
            e.preventDefault();
            return;
        }
        var _Service = abp.services.app.commonSpec;
        var spec = $("#AddPost").serializeFormToObject();
        var EditDto = {};
        var valueList = [];
        EditDto.spec = spec;
        EditDto.valueList = valueList;
        _Service.createOrEdit(EditDto).done(function (data) {
            $("#searchForm").submit();
           // $("#Modal").modal('hide');
            //if ($(".pagination .active a").html() != undefined) {
            //    $(".pagination .active a").click();
            //} else { $("#searchForm").submit(); }

        }).fail(function (data) {
        }).always(function (data) { });
    }


    function Edit(data) {
        $("#Modal").modal("show");
    }
    $("#setValue").click(function () {
        if ($("input[name='Text']").val().trim() == "") {
            $("input[name='Text']").focus();
            return;
        }
        $("#ul_li").append("<li><a href='javascript:void(0);'>" + $("input[name='Text']").val() + "</a><button type='button' class='close'>\
            <span aria-hidden='true' >×</span><span class='sr-only'>Close</span></button></li>");

    });
    function Delete(btn) {
        var _Service = abp.services.app.commonAttribute;
        var id = $(btn).attr("data-id");
        var name = $(btn).attr("data-name");
        swal({
            title: $(btn).attr("data-title"),
            text: '',
            type: 'question',
            showCancelButton: true,
            confirmButtonText: $(btn).attr("data-ok"),
            cancelButtonText: $(btn).attr("data-cancle")
        }).then(function (isConfirm) {
            if (isConfirm.value == true) {
                _Service.delete(id).done(function (data) {
                    if ($(".pagination .active a").html() != undefined) {
                        $(".pagination .active a").click();
                        toastr.options = {
                            "closeButton": false,//是否配置关闭按钮
                            "debug": false,//是否开启debug模式
                            "newestOnTop": false,//新消息是否排在最上层
                            "progressBar": true,//是否显示进度条
                            "timeOut": "2000",//1.5s后关闭消息框
                        }
                        toastr.success($(btn).attr("data-msg"), '');
                    } else { $("#searchForm").submit(); }
                });
            }
        });
    }
</script>
