
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewBag.FirstMenu = "OnlineGoods";
    ViewBag.SecondMenu = "GoodsSpec";
}
@using System.Data
@using X.PagedList
@using UnionMall.Common.Dto
@model PagedList<DataRow>
<style>
    .tag-list a {
        cursor: default;
    }

    .tag-list li {
        position: relative;
        margin-left: 10px;
    }

    .tag-list .close {
        position: absolute;
        top: -5px;
        right: -5px;
    }
    .swal2-container{
        z-index:10000;
    }
</style>
<link href="~/lib/admin/css/plugins/chosen/bootstrap-chosen.css" rel="stylesheet" asp-append-version="true" />
<script src="~/lib/admin/js/plugins/chosen/chosen.jquery.js" asp-append-version="true"></script>
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2></h2>
        <ol class="breadcrumb">
            <li>
                <a href="/">@L("HomePage")</a>
            </li>
            <li>
                <a>@L("OnlineGoods")</a>
            </li>
            <li class="active">
                <strong>@L("GoodsSpec")</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>@L("GoodsSpec") </h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li>
                                <a data-ajax="true" data-ajax-form="searchForm" data-ajax-method="GET" data-ajax-mode="Replace"
                                   data-ajax-update="#table" href="/goodsmanage/goodsspec/list?pageSize=10">10/@L("Page")</a>
                            </li>
                            <li>
                                <a data-ajax="true" data-ajax-form="searchForm" data-ajax-method="GET" data-ajax-mode="Replace"
                                   data-ajax-update="#table" href="/goodsmanage/goodsspec/list?pageSize=15">15/@L("Page")</a>
                            </li>
                            <li>
                                <a data-ajax="true" data-ajax-form="searchForm" data-ajax-method="GET" data-ajax-mode="Replace"
                                   data-ajax-update="#table" href="/goodsmanage/goodsspec/list?pageSize=20">20/@L("Page")</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-sm-12">
                            <form class="form-inline" id="searchForm" data-ajax="true" data-ajax-update="#table" action="/goodsmanage/goodsspec/list" method="post">
                                <input type="hidden" name="pageSize" value="10" />
                                <div class="form-group">
                                    @if (IsGranted("OnlineGoods.GoodsAttr.Add"))
                                    {
                                        <button id="add" style="margin-right:20%;" class="btn btn-primary btn-sm m-b" type="button">
                                            <i class="fa fa-plus"></i>&nbsp;@L("Add")
                                        </button>
                                    }
                                </div>
                                <div class="form-group">
                                    <input type="text" name="name" placeholder="@L("Name")" class="m-b input-sm form-control">
                                </div>
                                <div class="form-group" style="min-width:10vw;">
                                    <div class="m-b">
                                        <select class="form-control chosen-select" name="CategoryId">
                                            <option value="">-@L("GoodsCategory")-</option>
                                            @foreach (var item in ViewBag.Category)
                                            {
                                                <option value="@item.Id">@item.Title</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-sm btn-primary m-b">@L("Search")</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div id="table">
                        @Html.Partial("_Table", Model)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="DivAdd">
    @Html.Partial("_Add", new CreateOrEdit())
</div>
<script src="~/js/jquery.unobtrusive.js" asp-append-version="true"></script>
<script src="~/lib/admin/js/plugins/sweetalert/sweetalert.min.js" asp-append-version="true"></script>
<script src="~/view-resources/Areas/GoodsManage/goods_spec.js"  asp-append-version="true"></script>
<script>
    function RemoveItem(btn) {
        if ($(btn).siblings("a").attr("data-id") == "00000000-0000-0000-0000-000000000000") {
            $(btn).parent("li").remove();
        } else {
            var _Service = abp.services.app.specValue;
            var id = $(btn).siblings("a").attr("data-id");
            var name = $(btn).siblings("a").html();
            swal({
                title: '@L("OK")@L("Delete")【' + name+'】?',
                text: '',
                type: 'question',
                showCancelButton: true,
                confirmButtonText: '@L("OK")',
                cancelButtonText: '@L("Cancel")'
            }).then(function (isConfirm) {
                if (isConfirm.value == true) {
                    _Service.delete(id).done(function (data) {
                        $(".pagination .active a").click();
                        $("#Modal").modal('hide');
                            toastr.options = {
                                "closeButton": false,//是否配置关闭按钮
                                "debug": false,//是否开启debug模式
                                "newestOnTop": false,//新消息是否排在最上层
                                "progressBar": true,//是否显示进度条
                                "timeOut": "2000",//1.5s后关闭消息框
                            }
                            toastr.success('@L("Delete")@L("Success")!', '@L("Hint")');
                        if ($(".pagination .active a").html() != undefined) {

                        } else { $("#searchForm").submit(); }
                    });
                }
            });
        }
    }
</script>
