
@{
    Layout = null;

}
@using X.PagedList
@using System.Data
@using X.PagedList.Mvc.Core
@model PagedList<DataRow>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>@L("Title")</th>
            <th>@L("Belong")@L("Business")</th>
            <th>@L("Integral")</th>
            <th>@L("Stock")@L("Count")</th>
            <th>@L("Operate")</th>
        </tr>

    </thead>
    <tbody>
        @foreach (DataRow item in Model)
        {
            <tr>
                <td class="title">
                    @item["Name"]
                </td>
                <td>@item["BusinessName"]</td>
                <td>@item["Integral"]</td>
                <td>@item["StockCount"]</td>
                <td>
                    <a onclick="return SetPage();" href="/giftmall/gift/add/@item["Id"]" title="@L("Edit")">
                        <i class="fa fa-edit text-navy"></i>
                    </a>
                </td>
            </tr>
        }

    </tbody>
</table>

@Html.PagedListPager(Model, pageIndex => Url.Action("List", new { pageIndex }),
PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(
new PagedListRenderOptions {
    MaximumPageNumbersToDisplay = 5,
    DisplayPageCountAndCurrentLocation = true,
    LinkToFirstPageFormat = L("FirstPage"),
    LinkToLastPageFormat = L("LastPage"),
    LinkToNextPageFormat = L("NextPage"),
    PageCountAndCurrentLocationFormat = L("{1}pages{2}Records"),
    LinkToPreviousPageFormat = L("PreviousPage"),
    UlElementClasses = new[] { "pagination col-md-8" },
    ContainerDivClasses = new[] { "row" } },
new AjaxOptions()
{
    DataForm = "searchForm",
    HttpMethod = "GET",
    UpdateTargetId = "div_table"
}
))

<script>
                //var txt = $("input[name='title']").val().trim();
                //if (txt.length > 0) {
                //    $(".title").each(function () {
                //        var newTxt = $(this).html().replace(txt, txt.fontcolor("red"));
                //        $(this).html(newTxt);
                //    });
                //}

</script>
