
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewBag.FirstMenu = "StatisticsAnalysis";
    ViewBag.SecondMenu = "MemberIntegralStatistics";
}

@using System.Data
@using X.PagedList

@model PagedList<DataRow>
<style>
    .swal2-container {
        z-index: 10000;
    }

    .chosen-container {
        margin-bottom: 15px;
        min-width: 10vw;
    }
</style>

<link href="~/lib/admin/css/plugins/chosen/bootstrap-chosen.css" asp-append-version="true" rel="stylesheet" />
<script src="https://img.hcharts.cn/highcharts/highcharts.js"></script>
<script src="https://img.hcharts.cn/highcharts/modules/data.js"></script>
<script src="https://img.hcharts.cn/highcharts/modules/series-label.js"></script>
<script src="https://img.hcharts.cn/highcharts/modules/oldie.js"></script>
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2></h2>
        <ol class="breadcrumb">
            <li>
                <a href="/">@L("HomePage")</a>
            </li>
            <li>
                <a>@L("StatisticsAnalysis")</a>
            </li>
            <li class="active">
                <strong>@L("MemberIntegralStatistics")</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>@L("MemberIntegralStatistics") </h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li>
                                <a data-ajax="true" data-ajax-form="searchForm" data-ajax-method="GET" data-ajax-mode="Replace"
                                   data-ajax-update="#table" href="/statistics/integralstatistics/list?pageSize=10">10/@L("Page")</a>
                            </li>
                            <li>
                                <a data-ajax="true" data-ajax-form="searchForm" data-ajax-method="GET" data-ajax-mode="Replace"
                                   data-ajax-update="#table" href="/statistics/integralstatistics/list?pageSize=15">15/@L("Page")</a>
                            </li>
                            <li>
                                <a data-ajax="true" data-ajax-form="searchForm" data-ajax-method="GET" data-ajax-mode="Replace"
                                   data-ajax-update="#table" href="/statistics/integralstatistics/list?pageSize=20">20/@L("Page")</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-sm-12">
                            <form class="form-inline" id="searchForm" data-ajax="true" data-ajax-update="#table" action="/statistics/integralstatistics/list" method="post">
                                <input type="hidden" name="pageSize" value="10" />
                                <div class="form-group">
                                    @Html.DropDownList("type", ViewBag.ConsumeType, L("Choose"), new { @class = "m-b input-sm form-control", @style = "    font-size: 12px;" })
                                </div>
                                <div class="form-group">
                                    <input type="text" name="orderNumber" placeholder="@L("Order")@L("Number")" class="m-b input-sm form-control">
                                </div>
                                <div class="form-group">
                                    <input type="text" name="name" placeholder="@L("Consume")@L("Store")@L("Name")" class="m-b input-sm form-control">
                                </div>
                                <div class="form-group">
                                    <input type="text" name="timeFrom" placeholder="@L("Consume")@L("Time")"
                                           class="m-b input-sm form-control" onclick="WdatePicker({lang: $('#CurrentLanguage').attr('data-lan')=='zh-Hans' ? 'zh-cn' : 'en' });">
                                    <span style="display: inline-block;vertical-align: 5px;">@L("To")</span>
                                    <input type="text" name="timeTo" placeholder="@L("Consume")@L("Time")" class="m-b input-sm form-control"
                                           onclick="WdatePicker({lang: $('#CurrentLanguage').attr('data-lan')=='zh-Hans' ? 'zh-cn' : 'en' });">
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-sm btn-primary m-b">@L("Search")</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="tabs-container">
                        <ul class="nav nav-tabs" id="myTabs">
                            <li class="active"><a data-toggle="tab" href="#first" aria-expanded="true">@L("MemberConsumeStatistics")</a></li>
                            <li class=""><a data-toggle="tab" href="#second" aria-expanded="false">@L("Chart")@L("StatisticsAnalysis")</a></li>
                        </ul>
                        <div class="tab-content">
                            <div id="first" class="tab-pane fade active in" aria-labelledby="first-tab">
                                <div class="panel-body" id="table">
                                    @Html.Partial("_Table", Model)
                                </div>
                            </div>
                            <div id="second" class="tab-pane fade" aria-labelledby="second-tab">
                                <div class="panel-body" id="tableChat">
                                    @Html.Partial("_TableChat")
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/lib/My97DatePicker/WdatePicker.js" asp-append-version="true"></script>
<script src="~/js/jquery.unobtrusive.js" asp-append-version="true"></script>
<script>
    $('#myTabs a').click(function (e) {
        e.preventDefault()
        $(this).tab('show')
    });
    
    $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
        // e.target // newly activated tab
        if (String(e.target).indexOf("second") != -1) {
            $("#searchForm").attr("data-ajax-update", "#tableChat");
            $("#searchForm").attr("action", "/statistics/integralstatistics/tablechat");
            $("#searchForm").submit();
            // GetChartData();
        } else {
            $("#searchForm").attr("data-ajax-update", "#table");
            $("#searchForm").attr("action", "/statistics/integralstatistics/list");
            $("#searchForm").submit();
        }
        // e.relatedTarget // previous active tab
    })
</script>